---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import PorjectsFooter from '../components/ProjectsFooter.astro';

import { Image } from 'astro:assets';
import ExplorerHero from '../assets/work-explorer--cover-2.png';
import DimensionsHero from '../assets/work-dimensions-2--cover.png';
import PmAssistHero from '../assets/work-pm-assistant--cover.png';
import GlobalSearchHero from '../assets/work-global-search--cover.png';
import Homepage2024Hero from '../assets/klipfolio-homepage-2024-cover.png';
import Homepage2023Hero from '../assets/klipfolio-homepage-2023-cover.png';
---

<Layout title="Ashraf Khattab Portfolio | Dimensions 2.0">
	
	<main id="case-study">
		<Nav />
		<div style="position:relative; ">
        <section class="case-study--header">
            <div style="max-width: 800px; margin: 0 auto 3rem; text-align: center;">
                <h1 style="margin-bottom: 2rem;" transition:name="dimensions-title">Dimensions 2.0</h1>
                <p>Enhanced support for metric dimensions, with improved filtering and segmentation capabilities.</p>
            </div>
			<div class="case-study--full-container" style="margin-bottom: 5rem;">
                <figure class="work-cover" transition:name="dimensions-hero">
                    <Image src={DimensionsHero} alt="PmAssistHero Explorer" />
                </figure>
                <div class="case-study--text-container">
                    <p style="font-size: 1rem; color: #aaa; margin-top: 2rem;">Want to learn more about this project? <a href="mailto:ashraf.gmk@gmail.com?subject=I%20am%20coming%20from%20your%20portfolio" style="font-weight: bold; color: #aaa">Reach out to me</a> for a detailed presentation on how this project evolved, including insights into the design process, drafts, decision-making, and brainstorming stages.</p>
                </div>
            </div>
           
        </section>
        <section class="case-study--body" style="">
            <div class="case-study--background">
                <h2>Project Info</h2>
                <div class="case-study--background-info-container">
                    <div class="case-study--background-info">
                        <div>
                            <h3 style="font-weight: bold; margin-bottom: 16px; color: #999">Name</h3>
                            <p>Dimensions 2.0</p>
                        </div>
                        <div>
                            <h3 style="font-weight: bold; margin-bottom: 16px; color: #999">Role</h3>
                            <p>Project Lead</p>
                            <p>UX/UI Designer</p>
                        </div>
                        <div>
                            <h3 style="font-weight: bold; margin-bottom: 16px; color: #999">Year</h3>
                            <p>2024</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="case-study--background">
                <h2>Background</h2>
                <div class="case-study--background-info-container">
                    <div>
                        <p>PowerMetrics provided users the ability to filter and segment data by metric dimensions, but our customer feedback highlighted a demand for expanded control over these dimensions. There is a clear need for additional functionalities to better serve both end users and business stakeholders by delivering highly relevant metrics.</p>
                    </div>
                </div>
            </div>

            <div class="case-study--background">
                <h2>Proposed opportunities</h2>
                <div class="case-study--background-info-container" style="row-gap: 2rem;">
                    <div>
                        <h4 style="margin-bottom: 0.5rem;">Enhanced Filter Capabilities:</h4>
                        <p>Expanding filter functionality to include text, numerical, and date-based filters will empower users to filter metrics beyond member selection. This enhancement will support a more nuanced analysis and data segmentation.</p>
                    </div>
                    <div>
                        <h4 style="margin-bottom: 0.5rem;">New dimensions types:</h4>
                        <p>To increase flexibility, we are broadening the types of dimensions to include not only text but also numerical (both continuous and discrete), dates, and durations. This expansion enables more detailed metrics filtering and better aligns with diverse user requirements.</p>
                    </div>
                    <div>
                        <h4 style="margin-bottom: 0.5rem;">General metric capabilities:</h4>
                        <p>Users will now be able to define preset filters or establish default filters and segments tailored for business user needs. Additionally, to reduce confusion and enhance usability, dimensions that are unnecessary or could lead to misinterpretation can be hidden from view.</p>
                    </div>
                    <!-- <div>
                        <h4 style="margin-bottom: 0.5rem;">New segmenting capabilities:</h4>
                        <p>Allow the ability to binning</p>
                    </div> -->
                </div>
            </div>
           
            <div class="case-study--text-container">
                <h2 style="margin-bottom: 1rem; line-height: 150%;">Guiding principle: Maximize capability vs. Maximize compatibility</h2>
                <div class="case-study--background-info-container">
                    <div>
                        <p>At the project's outset, we needed to establish a strategy: should we prioritize maximizing capability or compatibility?</p>
                        <p>Maximize capability: We support as many features as possible for each metric type, even if other metric types don’t support them. We’ll need to define rules for handling downstream artifacts when metrics are reconfigured and features are no longer supported by the new metric type.</p>
                        <p>Maximize compatibility: We support a common set of features across all metric types, ensuring smooth transitions during reconfiguration without downstream effects. This approach maintains consistent and predictable behavior for all metrics, even if it means excluding features that cannot be universally supported.</p>
                        <p>We have elected to go for maximizing compatibility.</p>
                    </div>
                </div>
            </div>
            
            <div style="height: 3px; width: 300px; background: #ddd; position: relative; margin: 5rem auto;"></div>

            <!-- New filter capabilities: -->
            <div class="case-study--text-container">
                <div>
                    <h2 style="margin-bottom: 1rem;">Enhanced filter capabilities:</h2>
                    <p>The introduction of new dimension types will require new and more advanced filtering methods for each type.</p>
                    </p>
                    <p>Key Requirements:</p>
                    <ul style="margin-top: 1rem;">
                        <li>Text match filters.</li>
                        <li>Numeric filters and range selection. </li>
                        <li>Date range filters on temporal dimensions </li>
                    </ul>
                </div>
            </div>
            <div class="case-study--text-container">
                <div>
                    <div style="color: #555;; font-weight: bold; margin-bottom: 0.5rem;">Enhanced filter capabilities:</div>
                    <h3 style="margin-bottom: 1rem;">Text match filters</h3>
                    <p>This advanced filtering method goes beyond simply selecting members. It supports various operators like "Equals," "Contains," and "Ends with," and allows for additional conditions to refine your filtering.</p>
                </div>
            </div>
             <div class="case-study--full-container" style="margin-bottom: 3rem;">
                <figure>
                    <img src="../img/work-dimensions--text-filter.png" class="lazyload">
                </figure>
            </div>
            <div class="case-study--text-container">
                <div>
                    <div style="color: #555;; font-weight: bold; margin-bottom: 0.5rem;">Enhanced filter capabilities:</div>
                    <h3 style="margin-bottom: 1rem;">Numeric filters and range selection</h3>
                    <p>This new numeric filtering method offers multiple options: use a range slider to select values, or create more advanced conditions for precise filtering. Useful for examples such as "Filter out companies under $10K spend".</p>
                </div>
            </div>
            <div class="case-study--full-container" style="margin-bottom: 3rem;">
                <figure>
                    <img src="../img/work-dimensions--number-filter.png" class="lazyload">
                </figure>
            </div>
            <div class="case-study--text-container">
                <div>
                    <div style="color: #555;; font-weight: bold; margin-bottom: 0.5rem;">Enhanced filter capabilities:</div>
                    <h3 style="margin-bottom: 1rem;">Date range filters on temporal dimensions</h3>
                    <p>Time-based filtering enables users to apply date ranges to specific dimensions, which is essential for those seeking trend analysis and historical insights. Useful for examples such as "Filter out companies with sign up date before Jan 1 2022, or show me arrival time vs departure time".
                    </p>
                </div>
            </div>
            <div class="case-study--full-container" style="margin-bottom: 3rem;">
                <figure>
                    <img src="../img/work-dimensions--date-filter.png" class="lazyload">
                </figure>
            </div>

            <div style="height: 3px; width: 300px; background: #ddd; position: relative; margin: 5rem auto;"></div>

            <!-- New segmeneting capabilities:
            <div class="case-study--text-container">
                <div>
                    <h3 style="margin-bottom: 1rem;">New segmeneting capabilities:</h3>
                    <p>Big open exploration space: A focus on the visualization that gives the user the breathing room to full capture every detail they need.
                    </p>
                    <p>Key Requirements:</p>
                     <ul style="margin-top: 1rem;">
                        <li>Binning </li>
                    </ul>
                </div>
            </div>
             <div class="case-study--large-container" style="margin-bottom: 3rem;">
                <figure>
                    <img src="../img/work-explorer--exploration-space-2.png" style="width: 1200px; margin: 0rem auto 1rem; border-radius: 2rem; overflow: hidden;" class="lazyload">
                    <figcaption>The Metric Homepage, provides a broad overview of the metric divded by different segments</figcaption>
                </figure>
            </div> -->

            <!-- New dimensions types -->
            <div class="case-study--text-container">
                <div>
                    <h2 style="margin-bottom: 1rem;">New dimensions types:</h2>
                    <p>New types of dimensions to support:</p>
                     <ul style="margin-top: 1rem;">
                        <li>Text dimensions (Already supported).</li>
                        <li>Numeric (discrete/continuous) dimensions.</li>
                        <li>Time (date/duration) dimensions.</li>
                    </ul>
                </div>
            </div>
             <div class="case-study--full-container" style="margin-bottom: 3rem;">
                <figure>
                    <img src="../img/work-dimensions--dimension-type.png" class="lazyload">
                </figure>
            </div>

            <div style="height: 3px; width: 300px; background: #ddd; position: relative; margin: 5rem auto;"></div>

            <!-- metric capabilities -->
            <div class="case-study--text-container">
                <div>
                    <h2 style="margin-bottom: 1rem;">General metric capabilities:</h2>
                    <p>Key Requirements:</p>
                     <ul style="margin-top: 1rem;">
                        <li>Enable preset filters. </li>
                        <li>Enable default filters.</li>
                        <li>Enable dimensions capabilities.</li>
                    </ul>
                </div>
            </div>
            <div class="case-study--text-container">
                <div>
                    <div style="color: #555;; font-weight: bold; margin-bottom: 0.5rem;">General metric capabilities:</div>
                    <h3 style="margin-bottom: 1rem;">Preset Filters</h3>
                    <p>The value of a preset filter lies in its ability to refine a metric. For example, if I have a dimension called 'user events' that includes members such as 'Churn,' 'Purchase,' and 'Extensions,' I can use a preset filter to display only 'Churn' to define the metric and for more focused analysis.</p>
                    </p>
                </div>
            </div>
			<div class="case-study--full-container" style="margin-bottom: 5rem;">
                <figure>
					<img src="../img/work-dimensions--preset-filters.png" class="lazyload">
                </figure>
            </div>
           
            <div class="case-study--text-container">
                <div>
                    <div style="color: #555;; font-weight: bold; margin-bottom: 0.5rem;">General metric capabilities:</div>
                    <h3 style="margin-bottom: 1rem;">Dimensions capabilities</h3>
                    <p>Control whether a dimension appears as a filter, a segment, or is hidden from users entirely.
                    </p>
                </div>
            </div>
			<div class="case-study--full-container" style="margin-bottom: 5rem;">
                <figure>
					<img src="../img/work-dimensions--dimensions-capabilties.png" class="lazyload">
                </figure>
            </div>
            <div class="case-study--text-container">
                <div>
                    <div style="color: #555;; font-weight: bold; margin-bottom: 0.5rem;">General metric capabilities:</div>
                    <h3 style="margin-bottom: 1rem;">Default Filters</h3>
                    <p>A default filter sets the initial presentation of a metric while still allowing the end user to modify the filter or segment as needed.
                    </p>
                </div>
            </div>
			<div class="case-study--full-container" style="margin-bottom: 5rem;">
                <figure>
					<img src="../img/work-dimensions--default-filter.png" class="lazyload">
                </figure>
            </div>
            
            <div style="height: 3px; width: 300px; background: #ddd; position: relative; margin: 5rem auto;"></div>
            <div class="case-study--background">
                <h2>Key business and product outcomes</h2>
                <div class="case-study--background-info-container">
                    <div>
                        <ul style="margin-top: 1rem; list-style: none; margin-left: 0">
                            <li>80% of users self-identified as integrators have used the advanced filters and dimensions to set up their metrics.</li>
                            <li>Increased customer requests to include further advanced features such as binning and grouping.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div style="height: 3px; width: 300px; background: #ddd; position: relative; margin: 5rem auto;"></div>
            
            
                
           
        </section>
        <PorjectsFooter />
        <Footer />
    </div>
    
	</main>
</Layout>

<style>
	
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.header-appear {
		opacity: 0;
		animation: header-animation linear forwards;
		animation-duration: 2s;
		animation-delay: 1s;
	}

	@keyframes header-animation {
		from {
			opacity: 0;
			transform: translateY(-10px)
		}

		to {
			opacity: 1;
			transform: translateY(0px)
		}
	}

	.subheader-appear {
		opacity: 0;
		animation: subheader-animation linear forwards;
		animation-duration: 1.25s;
		animation-delay: 0.5s;
	}

	@keyframes subheader-animation {
		from {
			opacity: 0;
			transform: translateY(-10px)
		}

		to {
			opacity: 1;
			transform: translateY(0px)
		}
	}
</style>