---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Ashraf Khattab Portfolio | Dimension 2.0">
	
	<main id="case-study">
		<Nav />
		<div style="position:relative; ">
        <section class="case-study--header">
            <div style="width: 800px; margin: 0 auto 3rem; display: grid; gap: 32px; text-align: center;">
                <h1 style="margin-bottom: 2rem;">Dimensions 2.0</h1>
                <p>An enhanced way to get the most out of your data</p>
            </div>
			<div class="case-study--full-container" style="margin-bottom: 5rem;">
                <figure class="work-cover" transition:name="dimnesions-hero">
                    <img alt="ashraf" src="/src/assets/work-dimensions-2--cover.png"  style="border-radius: 2rem;"  />
                </figure>
            </div>
           
        </section>
        <section class="case-study--body" style="">
            <div class="case-study--background">
                <h2>Project Info</h2>
                <div class="case-study--background-info-container">
                    <div class="case-study--background-info">
                        <div>
                            <h3 style="font-weight: bold; margin-bottom: 16px; color: #999">Name</h3>
                            <p>Dimensions 2.0</p>
                        </div>
                        <div>
                            <h3 style="font-weight: bold; margin-bottom: 16px; color: #999">Role</h3>
                            <p>Project lead</p>
                            <p>Individual contributor</p>
                        </div>
                        <div>
                            <h3 style="font-weight: bold; margin-bottom: 16px; color: #999">Year</h3>
                            <p>2024</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="case-study--background">
                <h2>Background</h2>
                <div class="case-study--background-info-container">
                    <div>
                        <p>PowerMetrics allowed users the ability to filger and segment data based on metrics dimensions. However, with time, our customers have always voiced their need for more control over those dimensions, and for further capabilities that are required to deliver the metrics required by the end user, the business user. </p>
                    </div>
                </div>
            </div>

            <div class="case-study--background">
                <h2>Proposed opportunities</h2>
                <div class="case-study--background-info-container" style="row-gap: 2rem;">
                    <div>
                        <h4 style="margin-bottom: 0.5rem;">New filter capabilities:</h4>
                        <p>Allow the ability to filter on text, number, and dates beyond just the ability to select members.</p>
                    </div>
                    <div>
                        <h4 style="margin-bottom: 0.5rem;">New dimensions types:</h4>
                        <p>Extending the dimensions types to include numbers (Continueous and discrete), dates, and durations.</p>
                    </div>
                    <div>
                        <h4 style="margin-bottom: 0.5rem;">General metric capabilities:</h4>
                        <p>Allow the user to have the ability to define a metric preset filters (that are key for defining a metric) or the ability to set default filters and segments to deliver the metric the business user requires. Also allow for a way to hide dimensions are not required or that could cause issues if changed.</p>
                    </div>
                    <div>
                        <h4 style="margin-bottom: 0.5rem;">New segmenting capabilities:</h4>
                        <p>Allow the ability to binning</p>
                    </div>
                </div>
            </div>
           
            <div class="case-study--text-container">
                <h2 style="margin-bottom: 1rem; line-height: 150%;">Guiding principle: Maximize capability vs. Maximize compatibility</h2>
                <div class="case-study--background-info-container">
                    <div>
                        <p>When we started the project, it was important to decide on a strategy that will guide us through the project. Are we aiming for maximizing capability or maximizing compatibility</p>
                        <p>Maximize capability: We support as many features as we can for each metric type even if other metric types cannot support that feature. Note, we will need to define rules for what happens to downstream artifacts when metrics are reconfigured if those artifacts are using features no longer supported by the new metric type.
                        </p>
                        <p>Maximize compatibility: We support a set of features that can be supported for all metric types, ensuring that it is easy to transition between metric types when reconfiguring without downstream effects, and we maintain the perception that a metric has a standard and easily understood set of behaviors regardless of how it is defined. This means that some features may not be supported at all if they cannot be supported in general.
                        </p>
                        <p>We have elected to go for maximizing compatibility.</p>
                    </div>
                </div>
            </div>
            
            

            <!-- New filter capabilities: -->
            <div class="case-study--text-container">
                <div>
                    <h2 style="margin-bottom: 1rem;">New filter capabilities:</h2>
                    <p>Big open exploration space: A focus on the visualization that gives the user the breathing room to full capture every detail they need.
                    </p>
                    <p>Key Requirements:</p>
                    <ul style="margin-top: 1rem;">
                        <li>Text match filters </li>
                        <li>Numeric members and range filters </li>
                        <li>Date range filters on time dimensions (including multiple date range filters)</li>
                    </ul>
                </div>
            </div>
            <div class="case-study--text-container">
                <div>
                    <div style="color: #555;; font-weight: bold; margin-bottom: 0.5rem;">New filter capabilities:</div>
                    <h3 style="margin-bottom: 1rem;">Text match filters</h3>
                    <p>Big open exploration space: A focus on the visualization that gives the user the breathing room to full capture every detail they need.
                    </p>
                </div>
            </div>
             <div class="case-study--full-container" style="margin-bottom: 3rem;">
                <figure>
                    <img src="src/assets/work-dimensions--text-filter.png">
                    <figcaption>The Metric Homepage, provides a broad overview of the metric divded by different segments</figcaption>
                </figure>
            </div>
            <div class="case-study--text-container">
                <div>
                    <div style="color: #555;; font-weight: bold; margin-bottom: 0.5rem;">New filter capabilities:</div>
                    <h3 style="margin-bottom: 1rem;">Numeric members and range filters</h3>
                    <p>Big open exploration space: A focus on the visualization that gives the user the breathing room to full capture every detail they need.
                    </p>
                </div>
            </div>
            <div class="case-study--full-container" style="margin-bottom: 3rem;">
                <figure>
                    <img src="src/assets/work-dimensions--number-filter.png">
                    <figcaption>The Metric Homepage, provides a broad overview of the metric divded by different segments</figcaption>
                </figure>
            </div>
            <div class="case-study--text-container">
                <div>
                    <div style="color: #555;; font-weight: bold; margin-bottom: 0.5rem;">New filter capabilities:</div>
                    <h3 style="margin-bottom: 1rem;">Time (continuous) dimensions</h3>
                    <p>Big open exploration space: A focus on the visualization that gives the user the breathing room to full capture every detail they need.
                    </p>
                </div>
            </div>
            <div class="case-study--full-container" style="margin-bottom: 3rem;">
                <figure>
                    <img src="src/assets/work-dimensions--date-filter.png">
                    <figcaption>The Metric Homepage, provides a broad overview of the metric divded by different segments</figcaption>
                </figure>
            </div>

            <!-- New segmeneting capabilities: -->
            <div class="case-study--text-container">
                <div>
                    <h3 style="margin-bottom: 1rem;">New segmeneting capabilities:</h3>
                    <p>Big open exploration space: A focus on the visualization that gives the user the breathing room to full capture every detail they need.
                    </p>
                    <p>Key Requirements:</p>
                     <ul style="margin-top: 1rem;">
                        <li>Binning </li>
                    </ul>
                </div>
            </div>
             <div class="case-study--large-container" style="margin-bottom: 3rem;">
                <figure>
                    <img src="src/assets/work-explorer--exploration-space-2.png" style="width: 1200px; margin: 0rem auto 1rem; border-radius: 2rem; overflow: hidden;">
                    <figcaption>The Metric Homepage, provides a broad overview of the metric divded by different segments</figcaption>
                </figure>
            </div>

            <!-- New dimensions types -->
            <div class="case-study--text-container">
                <div>
                    <h2 style="margin-bottom: 1rem;">New dimensions types:</h2>
                    <p>Big open exploration space: A focus on the visualization that gives the user the breathing room to full capture every detail they need.
                    </p>
                    <p>Key Requirements:</p>
                     <ul style="margin-top: 1rem;">
                        <li>Numeric (discrete) dimensions </li>
                        <li>Numeric (continuous) dimensions </li>
                        <li>Time (continuous) dimensions </li>
                    </ul>
                </div>
            </div>
             <div class="case-study--large-container" style="margin-bottom: 3rem;">
                <figure>
                    <img src="src/assets/work-dimensions--dimension-type.png" style="width: 1200px; margin: 0rem auto 1rem; border-radius: 2rem; overflow: hidden;">
                    <figcaption>The Metric Homepage, provides a broad overview of the metric divded by different segments</figcaption>
                </figure>
            </div>
            <!-- metric capabilities -->
            <div class="case-study--text-container">
                <div>
                    <h2 style="margin-bottom: 1rem;">General metric capabilities:</h2>
                    <p>Big open exploration space: A focus on the visualization that gives the user the breathing room to full capture every detail they need.
                    </p>
                    <p>Key Requirements:</p>
                     <ul style="margin-top: 1rem;">
                        <li>Preset Filters </li>
                        <li>Default Filters </li>
                        <li>Filter vs. Dimensions only choice </li>
                    </ul>
                </div>
            </div>
            <div class="case-study--text-container">
                <div>
                    <div style="color: #555;; font-weight: bold; margin-bottom: 0.5rem;">General metric capabilities:</div>
                    <h3 style="margin-bottom: 1rem;">Preset Filters</h3>
                    <p>Big open exploration space: A focus on the visualization that gives the user the breathing room to full capture every detail they need.
                    </p>
                </div>
            </div>
			<div class="case-study--full-container" style="margin-bottom: 5rem;">
                <figure>
						<img src="src/assets/work-dimensions--preset-filters.png" style="width: 1200px; margin: 0rem auto 1rem; border-radius: 2rem; overflow: hidden;">
                    <figcaption>The Metric Homepage, provides a broad overview of the metric divded by different segments</figcaption>
                </figure>
            </div>
           
            <div class="case-study--text-container">
                <div>
                    <div style="color: #555;; font-weight: bold; margin-bottom: 0.5rem;">General metric capabilities:</div>
                    <h3 style="margin-bottom: 1rem;">Dimensions capabilities</h3>
                    <p>Big open exploration space: A focus on the visualization that gives the user the breathing room to full capture every detail they need.
                    </p>
                </div>
            </div>
			<div class="case-study--full-container" style="margin-bottom: 5rem;">
                <figure>
						<img src="src/assets/work-dimensions--dimensions-capabilties.png" style="width: 1200px; margin: 0rem auto 1rem; border-radius: 2rem; overflow: hidden;">
                    <figcaption>The Metric Homepage, provides a broad overview of the metric divded by different segments</figcaption>
                </figure>
            </div>
            <div class="case-study--text-container">
                <div>
                    <div style="color: #555;; font-weight: bold; margin-bottom: 0.5rem;">General metric capabilities:</div>
                    <h3 style="margin-bottom: 1rem;">Default Filters</h3>
                    <p>Big open exploration space: A focus on the visualization that gives the user the breathing room to full capture every detail they need.
                    </p>
                </div>
            </div>
			<div class="case-study--full-container" style="margin-bottom: 5rem;">
                <figure>
						<img src="src/assets/work-dimensions--default-filter.png" style="width: 1200px; margin: 0rem auto 1rem; border-radius: 2rem; overflow: hidden;">
                    <figcaption>The Metric Homepage, provides a broad overview of the metric divded by different segments</figcaption>
                </figure>
            </div>
           
            
            
                
           
        </section>
        <Footer />
    </div>
    
	</main>
</Layout>

<style>
	main {
		background-color: #1a1a1a;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.header-appear {
		opacity: 0;
		animation: header-animation linear forwards;
		animation-duration: 2s;
		animation-delay: 1s;
	}

	@keyframes header-animation {
		from {
			opacity: 0;
			transform: translateY(-10px)
		}

		to {
			opacity: 1;
			transform: translateY(0px)
		}
	}

	.subheader-appear {
		opacity: 0;
		animation: subheader-animation linear forwards;
		animation-duration: 2s;
		animation-delay: 1.5s;
	}

	@keyframes subheader-animation {
		from {
			opacity: 0;
			transform: translateY(-10px)
		}

		to {
			opacity: 1;
			transform: translateY(0px)
		}
	}
</style>