---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';

---

<Layout title="Ashraf Khattab Portfolio">
	
	<main id="case-study">
		<Nav />
		<div style="position:relative; ">
			<section class="case-study--header">
				<div style="max-width: 800px; margin: 0 auto 3rem; text-align: center;">
					<h1 style="margin-bottom: 2rem;" class="header-appear">Metric Explorer</h1>
					<p class="subheader-appear">A powerful tool designed for advanced analysis, offering seamless AI integration to simplify complex tasks and enhance overall ease of use.</p>
				</div>
				<div class="case-study--full-container" style="margin-bottom: 5rem; text-align: center" transition:name="hero">
					<figure class="content video-container">
						<video class="explorer-video" muted autoplay loop style="width: 1200px; max-width: 100%; margin: auto ;border-radius: 1rem; overflow: hidden;" transition:name="media-player" transition:persist>
							<source src="../img/work-explorer--video.mp4">
						</video> 
					</figure>
				</div>
			
			</section>
			<section class="case-study--body" style="">
				<div class="case-study--background">
					<h2>Project Info</h2>
					<div class="case-study--background-info-container">
						<div class="case-study--background-info">
							<div>
								<div style="color: #555;; font-weight: bold; margin-bottom: 0.5rem;">Name</div>
								<p>Metric Explorer</p>
							</div>
							<div>
								<div style="color: #555;; font-weight: bold; margin-bottom: 0.5rem;">Role</div>
								<p>Project lead</p>
								<p>Individual contributor</p>
							</div>
							<div>
								<div style="color: #555;; font-weight: bold; margin-bottom: 0.5rem;">Year</div>
								<p>2024</p>
							</div>
						</div>
					</div>
				</div>
				<div class="case-study--background">
					<h2>Background</h2>
					<div class="case-study--background-info-container">
						<div>
							<p>PowerMetrics needed more advanced options for deeper data analysis. But it was crucial not to overwhelm less experienced users. By leavarging the power of AI and the recent emergence of very capable models, we can create an intuitive solution that enables anyone to ask questions about their data and receive accurate, actionable insights.</p>
						</div>
					</div>
				</div>
				<!-- <div class="case-study--background">
					<h2>Issues</h2>
					<div class="case-study--background-info-container">
						<div>
							<p>With our transition to focus more on advanced users and integrators, PowerMetrics as a tool was still primarily used by the knowledge workers (the business user) whose data literacy level varies between different companies and different levels. It was important to allow the integrators the power to bring all sorts of data into PowerMetrics and make it a hub. But also for the knowledge worker (the business user) of all expertise levels to be able to get the insights they need and dive deep without any limitations.
							</p>
						</div>
					</div>
				</div> -->
				<!-- <div class="case-study--text-container" style="margin-bottom: 5rem;">
					<figure>
						<img src="../img/work-explorer--metric-overview.png" style="">
						<figcaption>The Metric Homepage, provides a broad overview of the metric divded by different segments</figcaption>
					</figure>
				</div> -->
				<div class="case-study--background">
					<h2>Proposed solution</h2>
					<div class="case-study--background-info-container">
						<div>
							<p>A space that allows free-form analysis and exploration of your data in depth and the ability to answer complex questions about it.</p>
							<ul style="margin-top: 1rem; list-style: none; margin-left: 0">
								<li>1. Visualization Canvas</li>
								<li>2. Advanced Analysis options</li>
								<li>3. Exploration Sidebar</li>
								<li>4. Generative AI</li>
							</ul>
						</div>
					</div>
				</div>

				<div style="height: 3px; width: 300px; background: #555; position: relative; margin: 5rem auto;"></div>

				<div class="case-study--text-container">
					<div>
						<div style="margin-bottom: 1rem; position: relative;"><span class="number">1</span><h3 style="position: relative;">Visualization Canvas</h3></div>
						<p>A big open exploration space that puts the focus on the visualization that gives the user the breathing room to full capture every detail they need.</p>
						<p>Key Requirements:</p>
						<ul style="margin-top: 1rem;">
							<li>Spacous canvas to allow the user full absorb the visualization and get the insights</li>
							<li>Ability to add more than one metric </li>
							<li>Ability to chnage filters and aggregations </li>
						</ul>
					</div>
				</div>
				<div class="case-study--full-container" style="margin-bottom: 3rem;">
					<figure>
						<img src="../img/work-explorer--exploration-space-1.png" style="" loading="lazy">
						<figcaption>Visualization Canvas: All about the visualization and getting the insights.</figcaption>
					</figure>
				</div>

				<div style="height: 3px; width: 300px; background: #555; position: relative; margin: 5rem auto;"></div>

				<div class="case-study--text-container">
					<div>
						<div style="margin-bottom: 1rem; position: relative;"><span class="number">2</span><h3 style="position: relative;">Advanced Analysis</h3></div>
						<p>Making effective decisions begins with understanding how your key business metrics are performing now and how they’re expected to perform in the future.</p>
						<p>The normal range and forecast analysis tools help you assess past, current, and future trends in your metrics. You’ll be able to quickly identify outliers in your data and see a prediction of future metric performance.</p>
						<p>Analysis Types:</p>
						<ul style="margin-top: 1rem;">
							<li>Linear Trend </li>
							<li>Future Forecast </li>
							<li>Moving Average </li>
							<li>Normal Range </li>
						</ul>
					</div>
				</div>
				<div class="case-study--full-container" style="margin-bottom: 3rem;">
					<figure>
						<img src="../img/work-explorer--advanced-analysis-1.png" style="" loading="lazy">
						<figcaption><strong>Advanced Analysis:</strong> A set of tools that help you assess past, current, and future trends in your metrics.</figcaption>
					</figure>
				</div>

				<div style="height: 3px; width: 300px; background: #555; position: relative; margin: 5rem auto;"></div>

				<div class="case-study--text-container">
					<div>
						<div style="margin-bottom: 1rem; position: relative;"><span class="number">3</span><h3 style="position: relative;">Exploration sidebar</h3></div>
						<p>This is where you will find all settings you need to fine tune your visualization to get the insight you are looking for.
						</p>
						<p>Key Requirements:</p>
						<ul style="margin-top: 1rem;">
							<li>Ability to change visualizations types.</li>
							<li>The visualizations type should impact the rest of the menu settings. </li>
							<li>Ability to select segmentations. </li>
							<li>Ability to select comparison types. </li>
							<li>Ability to chaing the sorting. </li>
						</ul>
					</div>
				</div>
			
				<div class="case-study--full-container" style="margin-bottom: 3rem;">
					<figure>
						<img src="../img/work-explorer--sidebar-options.png" style="" loading="lazy">
						<figcaption>The Metric Homepage, provides a broad overview of the metric divded by different segments</figcaption>
					</figure>
				</div>
				<div class="case-study--large-container" style="margin-bottom: 3rem;display: grid; gap: 16px;">
					<figure style="        width: 100%;">
						<img src="../img/work-explorer--sidebar-1.png" style="border-radius: 1.25rem;" loading="lazy">
					</figure>
					<figure style="        width: 100%;">
						<img src="../img/work-explorer--sidebar-2.png" style="border-radius: 1.25rem;" loading="lazy">
					</figure>
					<figure style="        width: 100%;">
						<img src="../img/work-explorer--sidebar-3.png" style="border-radius: 1.25rem;" loading="lazy">
					</figure>
				</div>

				<div style="height: 3px; width: 300px; background: #555; position: relative; margin: 5rem auto;"></div>

				<div class="case-study--text-container">
					<div>
						<div style="margin-bottom: 1rem; position: relative;"><span class="number">4</span><h3 style="position: relative;">Generative AI</h3></div>
						<p>Metrics are one of the most actionable tools for producing quality outcomes, as they provide essential context. When combined with natural language processing, we believe generative AI driven by metrics becomes a powerful and reliable asset, designed specifically for this purpose. Our goal is to enhance value for business users by integrating generative AI into their interaction with metrics.</p>
						<p>We are beginning with a focused application of generative AI that minimizes hallucination, ensuring that users can trust both the metrics and the insights generated. Building and maintaining this trust is key as we introduce AI-driven solutions.</p>
						<p>Key Requirements:</p>
						<ul style="margin-top: 1rem;">
							<li>Ability to ask a natural language question about the metrics, including the ability to perform filters, segments, advanced analysis, time ranges, multi-metrics, etc.</li>
							<li>Ability to keep context, whether it remembers previous questions or understand the current metric shown as a reference. </li>
							<li>Have a history of previously typed questions available.</li>
							<li>Provide a feedback mechanism so users can indicate whether it’s helpful (e.g., thumbs up/thumbs down). Helps us learn and improve our implementation. </li>
							<li>Support auto-completion for metric name for better accuracy (in case of multiple metrics with similar names). </li>
							<li>Minimize hallucination through referencing examples of user intention.</li>
						</ul>
					</div>
				</div>
				<div class="case-study--full-container" style="margin-bottom: 3rem;">
					<figure>
						<video muted autoplay loop style="border-radius: 2rem; width: 100%;">
							<source src="../img/work-explorer--gen-ai.mp4">
						</video> 
					</figure>
				</div>
				<div class="case-study--large-container" style="margin-bottom: 3rem;">
					<figure>
						<img src="../img/work-explorer--gen-ai.png" style="" loading="lazy">
						<figcaption>The various different states of the AI input field</figcaption>
					</figure>
				</div>
				<div class="case-study--text-container">
					<div>
						<div style="color: #555;; font-weight: bold; margin-bottom: 0.5rem;">Generative AI</div>
						<h4 style="margin-bottom: 1rem;">History checkpoints</h4>
						<p>The AI keeps context of previous requests, and that could have an impact on how it answers after. We also wanted to give the user checkpoints to get back to if they want.</p>
					</div>
				</div>
				<div class="case-study--large-container" style="margin-bottom: 3rem;display: grid;grid-template-columns: 1fr 1fr;gap: 16px;">
					<figure>
						<img src="../img/work-explorer--history1.png" style="" loading="lazy">
					</figure>
					<figure>
						<img src="../img/work-explorer--history2.png" style="" loading="lazy">
					</figure>
				</div>
				<div class="case-study--text-container">
					<div>
						<div style="color: #555;; font-weight: bold; margin-bottom: 0.5rem;">Generative AI</div>
						<h4 style="margin-bottom: 1rem;">Intent</h4>
						<p>To make the AI work, we need to assign a list of intent and examples to guide the AI</p>
						<div class="table" style=""> 
							<div class="table-header">
								<p style="font-weight: bold">Intention</p>
								<p style="font-weight: bold">Example</p>
							</div>

							<div class="table-row">
								<div><p>Comparison by Time Period</p></div>
								<div><p>What are the website page views this month vs. last month</p></div>
							</div>

							<div class="table-row">
								<div><p>Comparison, Segment vs. Segment</p></div>
								<div><p>Compare users from organic search vs. direct search</p></div>
							</div>

							<div class="table-row">
								<div><p>Comparison, Metric vs. Metric</p></div>
								<div><p>Compare Ad Spend vs Advertising Costs</p></div>
							</div>

							<div class="table-row">
								<div><p>Forecast</p></div>
								<div><p>What do the website pageviews look like the next 6 months?</p></div>
							</div>
							
							<div class="table-row">
								<div><p>Trend</p></div>
								<div><p>Are pageviews up or down the last 30 days?</p></div>
							</div>
							<div class="table-row">
								<div><p>Value</p></div>
								<div><p>What day of the week does the website get the most visits?</p></div>
							</div>
							<div class="table-row">
								<div><p>Math</p></div>
								<div><p>What is the website total users count for last year?</p></div>
							</div>
							<div class="table-row">
								<div><p>Breakdown</p></div>
								<div><p>Show website users by organic search</p></div>
							</div>
							<div class="table-row">
								<div><p>Ranking</p></div>
								<div><p>Show me the 10 most viewed web pages last month</p></div>
							</div>
							<div class="table-row">
								<div><p>Metric by chart type</p></div>
								<div><p>Show it in a table</p></div>
							</div>
							<div class="table-row">
								<div><p>Out of scope, gibberish, impossible</p></div>
								<div><p>How old is Elon Musk?, Show me revenue by revenue, jigerginrgin</p></div>
							</div>
							<div class="table-row">
								<div><p>Reset</p></div>
								<div><p>Let's start over</p></div>
							</div>
							
							<div class="table-row">
								<div><p>Overview</p></div>
								<div><p>How are sign ups doing?</p></div>
							</div>
							<div class="table-row">
								<div><p>Correlation/Relation</p></div>
								<div><p>What caused our sign ups to spike this week?</p></div>
							</div>
							<div class="table-row">
								<div><p>Expected range</p></div>
								<div><p>How is my revenue expected to behave? Is my proft behaving normally?</p></div>
							</div>
							<div class="table-row">
								<div><p>Composite intention</p></div>
								<div><p>Compare my cost and revnue, broken down by X</p></div>
							</div>
							
							<div class="table-row">
								<div style="border-bottom: 0"><p>Clarification</p></div>
								<div style="border-bottom: 0"><p>AI Response: Which metric specifically did you want to explore</p></div>
							</div>
						</div>

						<div style="color: #555;; font-weight: bold; margin-bottom: 0.5rem;">Generative AI</div>
						<h4 style="margin-bottom: 1rem;">Out of scope</h4>
						<p>Users requests are limitless, but our system has limiations. So we needed to account for intents that are technically out of scope of this current version of generative AI capabilities.</p>
						<div class="table" style=""> 
							<div class="table-header">
								<p style="font-weight: bold">Intention</p>
								<p style="font-weight: bold">Example</p>
							</div>

							<div class="table-row">
								<div><p>Asset search</p></div>
								<div><p>Show me the "marketing dashboard"</p></div>
							</div>

							<div class="table-row">
								<div><p>Catalog-level Insight</p></div>
								<div><p>Are there any important trends from over the weekend?</p></div>
								</div>

							<div class="table-row">
								<div><p>Comparison by Time Period</p></div>
								<div><p>What are the website page views this month vs. last month</p></div>
							</div>

						</div>
					</div>
				</div>
				<div class="case-study--background">
					<h2>Key business and product outcomes</h2>
					<div class="case-study--background-info-container">
						<div>
							<ul style="margin-top: 1rem; list-style: none; margin-left: 0">
								<li>30% increase in customers inviting view-only users in order to be able to explore their metrics more freely.</li>
								<li>Increased sign ups of the product by 12% since the release of the generative AI feature due to buzz generated.</li>
								<li>More features requests from customers in order to extend the Explorer capabilities.</li>
							</ul>
						</div>
					</div>
				</div>

				<div style="height: 3px; width: 300px; background: #555; position: relative; margin: 5rem auto;"></div>
			</section>
			<Footer />
		</div>
	</main>
</Layout>

<style>
	main {
		background-color: #0e0e0e;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.header-appear {
		opacity: 0;
		animation: header-animation linear forwards;
		animation-duration: 2s;
		animation-delay: 1s;
	}

	@keyframes header-animation {
		from {
			opacity: 0;
			transform: translateY(-10px)
		}

		to {
			opacity: 1;
			transform: translateY(0px)
		}
	}

	.subheader-appear {
		opacity: 0;
		animation: subheader-animation linear forwards;
		animation-duration: 2s;
		animation-delay: 1.5s;
	}

	@keyframes subheader-animation {
		from {
			opacity: 0;
			transform: translateY(-10px)
		}

		to {
			opacity: 1;
			transform: translateY(0px)
		}
	}
</style>
