---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import PorjectsFooter from '../components/ProjectsFooter.astro';

import { Image } from 'astro:assets';
import ExplorerHero from '../assets/work-explorer--cover-2.png';
import DimensionsHero from '../assets/work-dimensions-2--cover.png';
import PmAssistHero from '../assets/work-pm-assistant--cover.png';
import GlobalSearchHero from '../assets/work-global-search--cover.png';
import Homepage2024Hero from '../assets/klipfolio-homepage-2024-cover.png';
import Homepage2023Hero from '../assets/klipfolio-homepage-2023-cover.png';
---

<Layout title="Ashraf Khattab Portfolio">
	
	<main id="case-study">
		<Nav />
		<div style="position:relative; ">
			<section class="case-study--header">
				<div style="max-width: 800px; margin: 0 auto 3rem; text-align: center;">
					<h1 style="margin-bottom: 2rem;" class="header-appear">Metric Explorer</h1>
					<p class="subheader-appear">A powerful tool designed for advanced analysis, offering seamless AI integration to simplify complex tasks and enhance overall ease of use.</p>
				</div>
				<div class="case-study--full-container" style="margin-bottom: 5rem; text-align: center">
					<figure class="work-cover" transition:name="explorer-hero">
						<Image src={ExplorerHero} alt="Metric Explorer" style="border-radius: 2rem;"  />
					</figure>
					<!-- <figure class="content video-container">
						<video class="explorer-video" muted autoplay loop style="width: 1200px; max-width: 100%; margin: auto ;border-radius: 1rem; overflow: hidden;" transition:name="media-player" transition:persist>
							<source src="../img/work-explorer--video.mp4">
						</video> 
					</figure> -->
				</div>
			
			</section>
			<section class="case-study--body" style="">
				<div class="case-study--background">
					<h2>Project Info</h2>
					<div class="case-study--background-info-container">
						<div class="case-study--background-info">
							<div>
								<div style="color: #555;; font-weight: bold; margin-bottom: 0.5rem;">Name</div>
								<p>Metric Explorer</p>
							</div>
							<div>
								<div style="color: #555;; font-weight: bold; margin-bottom: 0.5rem;">Role</div>
								<p>Project Lead</p>
								<p>UX/UI Designer</p>
								<p>Research</p>
							</div>
							<div>
								<div style="color: #555;; font-weight: bold; margin-bottom: 0.5rem;">Year</div>
								<p>2024</p>
							</div>
						</div>
					</div>
				</div>
				<div class="case-study--background">
					<h2>Background</h2>
					<div class="case-study--background-info-container">
						<div>
							<p>PowerMetrics required advanced features for deeper data analysis, but it was essential to maintain simplicity for less experienced users. By harnessing AI and leveraging cutting-edge models, we developed an intuitive solution that empowers users of all skill levels to ask questions and gain accurate, actionable insights from their data.</p>
						</div>
					</div>
				</div>
				<!-- <div class="case-study--background">
					<h2>Issues</h2>
					<div class="case-study--background-info-container">
						<div>
							<p>With our transition to focus more on advanced users and integrators, PowerMetrics as a tool was still primarily used by the knowledge workers (the business user) whose data literacy level varies between different companies and different levels. It was important to allow the integrators the power to bring all sorts of data into PowerMetrics and make it a hub. But also for the knowledge worker (the business user) of all expertise levels to be able to get the insights they need and dive deep without any limitations.
							</p>
						</div>
					</div>
				</div> -->
				
				<div class="case-study--background">
					<h2>Proposed solution</h2>
					<div class="case-study--background-info-container">
						<div>
							<p>A flexible environment for in-depth data exploration and analysis, designed to help users answer complex questions with ease. Key components include:</p>
							<ul style="margin-top: 1rem; list-style: none; margin-left: 0">
								<li>1. Visualization Canvas</li>
								<li>2. Advanced Analysis Tools</li>
								<li>3. Exploration Sidebar</li>
								<li>4. Generative AI</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="case-study--full-container" style="margin-bottom: 3rem;">
					<figure class="content video-container">
						<video class="explorer-video" autoplay muted loop playsinline preload="metadata" style="">
							<source src="../img/work-explorer--video.mp4#t=0.5" type="video/mp4">
						</video> 
					</figure> 
				</div> 

				<div style="height: 3px; width: 300px; background: #555; position: relative; margin: 5rem auto;"></div>

				<div class="case-study--text-container">
					<div>
						<div style="margin-bottom: 1rem; position: relative;"><span class="number">1</span><h3 style="position: relative;">Visualization Canvas</h3></div>
						<p>An expansive exploration space that prioritizes visual clarity, giving users the room to fully capture and analyze every detail.</p>
						<p>Key Features:</p>
						<ul style="margin-top: 1rem;">
							<li>Flexible canvas for in-depth visualization and insights.</li>
							<li>Support for visualizing multiple metrics simultaneously.</li>
							<li>Easy adjustment of filters and aggregations for deeper analysis.</li>
						</ul>
					</div>
				</div>
				<div class="case-study--full-container" style="margin-bottom: 3rem;">
					<figure>
						<img src="../img/work-explorer--exploration-space-1.png" class="lazyload">
						<figcaption>Visualization Canvas: Unlocking insights through effective visualization.</figcaption>
					</figure>
				</div>

				<div style="height: 3px; width: 300px; background: #555; position: relative; margin: 5rem auto;"></div>

				<div class="case-study--text-container">
					<div>
						<div style="margin-bottom: 1rem; position: relative;"><span class="number">2</span><h3 style="position: relative;">Advanced Analysis</h3></div>
						<p>Effective decision-making starts with understanding both current performance and future projections of your key business metrics.
						</p>
						<p>Tools like normal range and forecast analysis enable you to assess past, present, and future trends. Quickly identify outliers and predict future performance with ease.</p>
						<p>Analysis Types:</p>
						<ul style="margin-top: 1rem;">
							<li>Linear Trend </li>
							<li>Future Forecast </li>
							<li>Moving Average </li>
							<li>Normal Range </li>
						</ul>
					</div>
				</div>
				<div class="case-study--full-container" style="margin-bottom: 3rem;">
					<figure>
						<img src="../img/work-explorer--advanced-analysis-1.png" class="lazyload">
						<figcaption><strong>Advanced Analysis:</strong> A set of tools that help you assess past, current, and future trends in your metrics.</figcaption>
					</figure>
				</div>

				<div style="height: 3px; width: 300px; background: #555; position: relative; margin: 5rem auto;"></div>

				<div class="case-study--text-container">
					<div>
						<div style="margin-bottom: 1rem; position: relative;"><span class="number">3</span><h3 style="position: relative;">Exploration sidebar</h3></div>
						<p>A control center for fine-tuning your visualizations and uncovering the insights you need.</p>
						<p>Key Requirements:</p>
						<ul style="margin-top: 1rem;">
							<li>Change visualization types dynamically.</li>
							<li>Menu settings adapt based on selected visualization.</li>
							<li>Choose segmentations and comparison types.</li>
							<li>Adjust sorting options with ease. </li>
							<li>Enable advanced analysis.</li>
						</ul>
					</div>
				</div>
			
				<div class="case-study--full-container" style="margin-bottom: 3rem;">
					<figure>
						<img src="../img/work-explorer--sidebar-options.png" class="lazyload">
						<figcaption>Exploration sidebar: Control center for fine-tuning your visualizations and uncovering the insights you need.</figcaption>
					</figure>
				</div>
				<div class="case-study--large-container" style="margin-bottom: 3rem;display: grid; gap: 16px;">
					<figure style="width: 100%;">
						<img src="../img/work-explorer--sidebar-1.png" style="border-radius: 1.25rem;" class="lazyload">
					</figure>
					<figure style="width: 100%;">
						<img src="../img/work-explorer--sidebar-2.png" style="border-radius: 1.25rem;" class="lazyload">
					</figure>
					<figure style="width: 100%;">
						<img src="../img/work-explorer--sidebar-3.png" style="border-radius: 1.25rem;" class="lazyload">
					</figure>
				</div>

				<div style="height: 3px; width: 300px; background: #555; position: relative; margin: 5rem auto;"></div>

				<div class="case-study--text-container">
					<div>
						<div style="margin-bottom: 1rem; position: relative;"><span class="number">4</span><h3 style="position: relative;">Generative AI</h3></div>
						<p>Metrics are critical tools for driving outcomes by providing essential context. When paired with natural language processing, generative AI powered by metrics becomes a valuable asset for business users. Our focus is on integrating generative AI into metric interactions to enhance decision-making and provide actionable insights.</p>
						<p>We’re starting with a targeted AI application that minimizes hallucinations, ensuring users can trust both the data and the insights generated. Building and maintaining this trust is essential as we roll out AI-driven solutions.</p>
						<p>Key Requirements:</p>
						<ul style="margin-top: 1rem;">
							<li>Natural language queries for metrics, including filters, segments, advanced analysis, time ranges, and multiple metrics.</li>
							<li>Context retention, allowing the AI to remember previous questions or understand current metrics as references.</li>
							<li>History of previously asked questions for easy reference.</li>
							<li>Feedback mechanism (e.g., thumbs up/down) to improve accuracy and user satisfaction.</li>
							<li>Auto-completion for metric names to enhance precision. </li>
							<li>Minimized hallucinations through referencing user intent examples.</li>
						</ul>
					</div>
				</div>
				<div class="case-study--full-container" style="margin-bottom: 3rem;">
					<figure>
						<video autoplay muted loop playsinline preload="metadata" style="border-radius: 2rem; width: 100%;">
							<source src="../img/work-explorer--gen-ai.mp4#t=0.5" type="video/mp4">
						</video> 
					</figure>
				</div>
				<div class="case-study--full-container" style="margin-bottom: 3rem;">
					<figure>
						<img src="../img/work-explorer--gen-ai.png" class="lazyload">
						<figcaption>The various different states of the AI input field</figcaption>
					</figure>
				</div>
				<div class="case-study--text-container">
					<div>
						<div style="color: #555;; font-weight: bold; margin-bottom: 0.5rem;">Generative AI</div>
						<h4 style="margin-bottom: 1rem;">History checkpoints</h4>
						<p>The AI retains context from previous requests, influencing future responses. We also provide users with checkpoints, allowing them to easily return to previous states as needed.</p>
					</div>
				</div>
				<div class="case-study--large-container" style="margin-bottom: 3rem;display: grid;grid-template-columns: 1fr 1fr;gap: 16px;">
					<figure>
						<img src="../img/work-explorer--history1.png" class="lazyload">
					</figure>
					<figure>
						<img src="../img/work-explorer--history2.png" class="lazyload">
					</figure>
				</div>
				<div class="case-study--text-container">
					<div>
						<div style="color: #555;; font-weight: bold; margin-bottom: 0.5rem;">Generative AI</div>
						<h4 style="margin-bottom: 1rem;">Intent</h4>
						<p>To make the AI work, we need to assign a list of intent and examples to guide the AI</p>
						<div class="table" style=""> 
							<div class="table-header">
								<p style="font-weight: bold">Intention</p>
								<p style="font-weight: bold">Example</p>
							</div>

							<div class="table-row">
								<div><p>Comparison by Time Period</p></div>
								<div><p>What are the website page views this month vs. last month</p></div>
							</div>

							<div class="table-row">
								<div><p>Comparison, Segment vs. Segment</p></div>
								<div><p>Compare users from organic search vs. direct search</p></div>
							</div>

							<div class="table-row">
								<div><p>Comparison, Metric vs. Metric</p></div>
								<div><p>Compare Ad Spend vs Advertising Costs</p></div>
							</div>

							<div class="table-row">
								<div><p>Forecast</p></div>
								<div><p>What do the website pageviews look like in the next 6 months?</p></div>
							</div>
							
							<div class="table-row">
								<div><p>Trend</p></div>
								<div><p>Are pageviews up or down the last 30 days?</p></div>
							</div>
							<div class="table-row">
								<div><p>Value</p></div>
								<div><p>What day of the week does the website get the most visits?</p></div>
							</div>
							<div class="table-row">
								<div><p>Math</p></div>
								<div><p>What is the website's total users count for last year?</p></div>
							</div>
							<div class="table-row">
								<div><p>Breakdown</p></div>
								<div><p>Show website users by organic search</p></div>
							</div>
							<div class="table-row">
								<div><p>Ranking</p></div>
								<div><p>Show me the 10 most viewed web pages last month</p></div>
							</div>
							<div class="table-row">
								<div><p>Metric by chart type</p></div>
								<div><p>Show it in a table</p></div>
							</div>
							<div class="table-row">
								<div><p>Out of scope, gibberish, impossible</p></div>
								<div><p>How old is Elon Musk?, Show me revenue by revenue, "Jiwnnfnreube"</p></div>
							</div>
							<div class="table-row">
								<div><p>Reset</p></div>
								<div><p>Let's start over</p></div>
							</div>
							
							<div class="table-row">
								<div><p>Overview</p></div>
								<div><p>How are sign ups doing?</p></div>
							</div>
							<div class="table-row">
								<div><p>Correlation/Relation</p></div>
								<div><p>What caused our sign ups to spike this week?</p></div>
							</div>
							<div class="table-row">
								<div><p>Expected range</p></div>
								<div><p>How is my revenue expected to behave? Is my profit behaving normally?</p></div>
							</div>
							<div class="table-row">
								<div><p>Composite intention</p></div>
								<div><p>Compare my cost and revenue, broken down by X</p></div>
							</div>
							
							<div class="table-row">
								<div style="border-bottom: 0"><p>Clarification</p></div>
								<div style="border-bottom: 0"><p>AI Response: Which metric specifically did you want to explore</p></div>
							</div>
						</div>

						<div style="color: #555;; font-weight: bold; margin-bottom: 0.5rem;">Generative AI</div>
						<h4 style="margin-bottom: 1rem;">Out of scope</h4>
						<p>Users requests are limitless, but our system has limiations. So we needed to account for intents that are technically out of scope of this current version of generative AI capabilities.</p>
						<div class="table" style=""> 
							<div class="table-header">
								<p style="font-weight: bold">Intention</p>
								<p style="font-weight: bold">Example</p>
							</div>

							<div class="table-row">
								<div><p>Asset search</p></div>
								<div><p>Show me the "marketing dashboard"</p></div>
							</div>

							<div class="table-row">
								<div><p>Catalog-level Insight</p></div>
								<div><p>Are there any important trends from over the weekend?</p></div>
								</div>

							<div class="table-row">
								<div><p>Comparison by Time Period</p></div>
								<div><p>What are the website page views this month vs. last month</p></div>
							</div>

						</div>
					</div>
				</div>
				<div class="case-study--background">
					<h2>Key business and product outcomes</h2>
					<div class="case-study--background-info-container">
						<div>
							<ul style="margin-top: 1rem; list-style: none; margin-left: 0">
								<li>30% increase in customers inviting view-only users, enabling more flexible metric exploration for their end/business users.</li>
								<li>12% growth in product sign-ups following the launch of the generative AI feature, driven by heightened interest.</li>
								<li>Increased customer requests for additional features to expand Explorer capabilities.</li>
							</ul>
						</div>
					</div>
				</div>

				<div style="height: 3px; width: 300px; background: #555; position: relative; margin: 5rem auto;"></div>
			</section>
			<PorjectsFooter />
			<Footer />
		</div>
	</main>
</Layout>

<style>
	
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.header-appear {
		opacity: 0;
		animation: header-animation linear forwards;
		animation-duration: 2s;
		animation-delay: 1s;
	}

	@keyframes header-animation {
		from {
			opacity: 0;
			transform: translateY(-10px)
		}

		to {
			opacity: 1;
			transform: translateY(0px)
		}
	}

	.subheader-appear {
		opacity: 0;
		animation: subheader-animation linear forwards;
		animation-duration: 2s;
		animation-delay: 1.5s;
	}

	@keyframes subheader-animation {
		from {
			opacity: 0;
			transform: translateY(-10px)
		}

		to {
			opacity: 1;
			transform: translateY(0px)
		}
	}
</style>
