---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import PorjectsFooter from '../components/ProjectsFooter.astro';

import { Image } from 'astro:assets';
import ExplorerHero from '../assets/work-explorer--cover-2.png';
import DimensionsHero from '../assets/work-dimensions-2--cover.png';
import PmAssistHero from '../assets/work-pm-assistant--cover.png';
import GlobalSearchHero from '../assets/work-global-search--cover.png';
import Homepage2024Hero from '../assets/klipfolio-homepage-2024-cover.png';
import Homepage2023Hero from '../assets/klipfolio-homepage-2023-cover.png';
---

<Layout title="Ashraf Khattab Portfolio | Metric Explorer">
	
	<main id="case-study">
		<Nav />
		<div style="position:relative; ">
			<section class="case-study--header">
				<div style="max-width: 800px; margin: 0 auto 3rem; text-align: center;">
					<h1 style="margin-bottom: 2rem;" class="header-appear">Metric Explorer</h1>
					<p class="subheader-appear">A powerful tool designed for advanced analysis, offering seamless AI integration to simplify complex tasks and enhance overall ease of use.</p>
				</div>
				<div class="case-study--full-container" style="margin-bottom: 5rem; text-align: center">
					<figure class="work-cover" transition:name="explorer-hero">
						<Image src={ExplorerHero} alt="Metric Explorer" style="border-radius: 2rem;"  />
					</figure>
					<!-- <figure class="content video-container">
						<video class="explorer-video" muted autoplay loop style="width: 1200px; max-width: 100%; margin: auto ;border-radius: 1rem; overflow: hidden;" transition:name="media-player" transition:persist>
							<source src="../img/work-explorer--video.mp4">
						</video> 
					</figure> -->
				</div>
			
			</section>
			<section class="case-study--body" style="">
				<div class="case-study--background">
					<h2>Project Info</h2>
					<div class="case-study--background-info-container">
						<div class="case-study--background-info">
							<div>
								<div style="color: #555;; font-weight: bold; margin-bottom: 0.5rem;">Name</div>
								<p>Metric Explorer</p>
							</div>
							<div>
								<div style="color: #555;; font-weight: bold; margin-bottom: 0.5rem;">Role</div>
								<p>Project Lead</p>
								<p>UX/UI Designer</p>
								<p>Research</p>
							</div>
							<div>
								<div style="color: #555;; font-weight: bold; margin-bottom: 0.5rem;">Year</div>
								<p>2024</p>
							</div>
						</div>
					</div>
				</div>
				<div class="case-study--background">
					<h2>The issue</h2>
					<div class="case-study--background-info-container">
						<div>
							<p>Klipfolio PowerMetrics initially focused on providing an overview of metrics and dashboard creation. However, as we began serving more advanced users, it became clear that they needed a more flexible space to dive deeper into their data, uncover insights, and move beyond basic reporting. At the same time, it was crucial not to overwhelm less experienced users with complex features.</p>
						</div>
					</div>
				</div>
				<div class="case-study--large-container" style="margin-bottom: 3rem; background-color: #202020; padding: 3rem 0; border-radius: 2rem;">
					<div class="quote-container" style="">
						<div>
							<p style="font-weight: bold; font-size: 3.5rem; line-height: 0.5; margin: 0">"</p>
							<p>I need to dig deeper into my data to uncover insights and trends that aren’t visible in my weekly reports.</p>
							<p style="color: #555; font-size: 0.8rem; font-weight: bold;">Customer - Technical User</p>
						</div>
						<div>
							<p style="font-weight: bold; font-size: 3.5rem; line-height: 0.5; margin: 0">"</p>
							<p>Our business users are constantly asking questions that go beyond the reports and dashboards, so I end up going back to the raw data to pull out the answers.</p>
							<p style="color: #555; font-size: 0.8rem; font-weight: bold;">Customer - Technical User</p>
						</div>
						<div>
							<p style="font-weight: bold; font-size: 3.5rem; line-height: 0.5; margin: 0">"</p>
							<p>It’s frustrating having to rely on my data team for answers every time. Can you help streamline that process?</p>
							<p style="color: #555; font-size: 0.8rem; font-weight: bold;">Customer - Technical User</p>
						</div>
						<div>
							<p style="font-weight: bold; font-size: 3.5rem; line-height: 0.5; margin: 0">"</p>
							<p>I want to compare different metrics side by side. Seeing performance data against past results—and even future projections—based on trends would be really valuable.</p>
							<p style="color: #555; font-size: 0.8rem; font-weight: bold;">Customer - Technical User</p>
						</div>
					</div>
				</div>
				
				<div class="case-study--background">
					<h2>What our users are saying?</h2>
					<div class="case-study--background-info-container">
						<div>
							<p>Clear User Feedback: Through surveys and direct conversations with customers and partners, we’ve identified key needs.​</p>
							<ul style="margin-top: 1rem; list-style: none; margin-left: 0">
								<li>Desire for Self-Serve Analytics: Users want a simpler, more intuitive tool—not as complex as Tableau or Power BI—focused on ease of use and quick access to insights.</li>
								<li>Control and Flexibility: Users are asking for more control over their data exploration, with deeper capabilities like advanced analysis, multi-metric views, and richer visualization options.</li>
								<li> Assistance with Data: Users also seek assistance in understanding their data, with features like projections and comparisons to make insights more actionable.</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="case-study--background">
					<h2>Proposed solution</h2>
					<div class="case-study--background-info-container">
						<div>
							<p>We developed the Metric Explorer, a flexible environment that allows users to explore and analyze data in depth. By incorporating AI and leveraging advanced models, we created an intuitive solution that caters to all skill levels, enabling users to ask questions and gain actionable insights. Key components of this feature include:</p>
							<ul style="margin-top: 1rem; list-style: none; margin-left: 0">
								<li>1. Visualization Canvas</li>
								<li>2. Analysis Tools</li>
								<li>3. Exploration Sidebar</li>
								<li>4. AI Assistant</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="case-study--full-container" style="margin-bottom: 3rem;">
					<figure class="content video-container">
						<video class="explorer-video" webkit-playsinline autoplay muted loop playsinline preload="auto" controls="true" style="" src="../img/work-explorer--video.mp4#t=0.5">
							<source src="../img/work-explorer--video.mp4#t=0.5" type="video/mp4">
						</video> 
					</figure> 
				</div> 

				<div class="case-study--full-container" style="margin-bottom: 3rem; position: relative; container-type: inline-size;">
					
						<figure class="grid-container">
							<img src="../img/work-explorer--mobile-1.png" class="lazyload">
							<img src="../img/work-explorer--mobile-2.png" class="lazyload">
							<img src="../img/work-explorer--mobile-3.png" class="lazyload">
						</figure>
					
				</div>

				<div style="height: 3px; width: 300px; background: #555; position: relative; margin: 5rem auto;"></div>

				<div class="case-study--text-container">
					<div>
						<div style="margin-bottom: 1rem; position: relative;"><span class="number">1</span><h3 style="position: relative;">Visualization Canvas</h3></div>
						<p>An expansive exploration space that prioritizes visual clarity, giving users the room to fully capture and analyze every detail.</p>
						<p>Key Features:</p>
						<ul style="margin-top: 1rem;">
							<li>Flexible canvas for in-depth visualization and insights.</li>
							<li>Support for visualizing multiple metrics simultaneously.</li>
							<li>Easy adjustment of filters and aggregations for deeper analysis.</li>
						</ul>
					</div>
				</div>
				<div class="case-study--full-container scrollsnap-container" style="margin-bottom: 3rem; position: relative;">
					<div class="scrollsnap">
						<div class="item-container">
							<figure><img src="../img/viz-cavas-1.png" class="lazyload"></figure>
							<figure><img src="../img/viz-cavas-2.png" class="lazyload"></figure>
							<figure><img src="../img/viz-cavas-3.png" class="lazyload"></figure>
							<figure><img src="../img/viz-cavas-4.png" class="lazyload"></figure>
							<figure><img src="../img/viz-cavas-5.png" class="lazyload"></figure>
							<figure><img src="../img/viz-cavas-6.png" class="lazyload"></figure>
						</div>
					</div>
				</div>

				<div style="height: 3px; width: 300px; background: #555; position: relative; margin: 5rem auto;"></div>

				<div class="case-study--text-container">
					<div>
						<div style="margin-bottom: 1rem; position: relative;"><span class="number">2</span><h3 style="position: relative;">Analysis tools</h3></div>
						<p>Effective decision-making starts with understanding both current performance and future projections of your key business metrics.
						</p>
						<p>Tools like normal range and forecast analysis enable you to assess past, present, and future trends. Quickly identify outliers and predict future performance with ease.</p>
						<p>Analysis Types:</p>
						<ul style="margin-top: 1rem;">
							<li><strong>Future Forecast:</strong> Predicts future performance based on past data trends within a specified time period. </li>
							<li><strong>Normal Range:</strong> Displays expected value ranges by analyzing natural variations in past data.</li>
							<li><strong>Linear Trend:</strong> Clearly shows the trend’s direction with a positive or negative slope.</li>
							<li><strong>Moving Average:</strong> Smooths out fluctuations to highlight the average trend line in your data.</li>
							
						</ul>
					</div>
				</div>
				<div class="case-study--full-container scrollsnap-container" style="margin-bottom: 3rem; position: relative;">
					<div class="scrollsnap">
						<div class="item-container">
							<figure style="display: flex; flex-direction: column;"><img src="../img/work-explorer--advanced-analysis-1.png" class="lazyload"></figure>
							<figure style="display: flex; flex-direction: column"><img src="../img/work-explorer--advanced-analysis-2.png" class="lazyload"></figure>
							<figure style="display: flex; flex-direction: column"><img src="../img/work-explorer--advanced-analysis-3.png" class="lazyload"></figure>
							<figure style="display: flex; flex-direction: column"><img src="../img/work-explorer--advanced-analysis-4.png" class="lazyload"></figure>
						</div>
					</div>
				</div>

				<div style="height: 3px; width: 300px; background: #555; position: relative; margin: 5rem auto;"></div>

				<div class="case-study--text-container">
					<div>
						<div style="margin-bottom: 1rem; position: relative;"><span class="number">3</span><h3 style="position: relative;">Exploration sidebar</h3></div>
						<p>A control center for fine-tuning your visualizations and uncovering the insights you need.</p>
						<p>Key Requirements:</p>
						<ul style="margin-top: 1rem;">
							<li>Change visualization types dynamically.</li>
							<li>Menu settings adapt based on selected visualization.</li>
							<li>Choose segmentations and comparison types.</li>
							<li>Adjust sorting options with ease. </li>
							<li>Enable advanced analysis.</li>
						</ul>
					</div>
				</div>
			
				<div class="case-study--full-container" style="margin-bottom: 3rem;">
					<figure>
						<img src="../img/work-explorer--sidebar-options.png" class="lazyload">
						<figcaption>Exploration sidebar: Control center for fine-tuning your visualizations and uncovering the insights you need.</figcaption>
					</figure>
				</div>
				<div class="case-study--full-container" style="margin-bottom: 3rem; position: relative; container-type: inline-size;">
					
					<figure class="grid-container">
						<img src="../img/work-explorer--sidebar-1.png" style="border-radius: 1.25rem;" class="lazyload">
						<img src="../img/work-explorer--sidebar-2.png" style="border-radius: 1.25rem;" class="lazyload">
						<img src="../img/work-explorer--sidebar-3.png" style="border-radius: 1.25rem;" class="lazyload">
					</figure>
				</div>

				<div style="height: 3px; width: 300px; background: #555; position: relative; margin: 5rem auto;"></div>

				<div class="case-study--text-container">
					<div>
						<div style="margin-bottom: 1rem; position: relative;"><span class="number">4</span><h3 style="position: relative;">AI Assistant</h3></div>
						<p>Metrics are critical tools for driving outcomes by providing essential context. When paired with natural language processing, generative AI powered by metrics becomes a valuable asset for business users. Our focus is on integrating generative AI into metric interactions to enhance decision-making and provide actionable insights.</p>
						<p>We’re starting with a targeted AI application that minimizes hallucinations, ensuring users can trust both the data and the insights generated. Building and maintaining this trust is essential as we roll out AI-driven solutions.</p>
						<p>Key Requirements:</p>
						<ul style="margin-top: 1rem;">
							<li>Natural language queries for metrics, including filters, segments, advanced analysis, time ranges, and multiple metrics.</li>
							<li>Context retention, allowing the AI to remember previous questions or understand current metrics as references.</li>
							<li>History of previously asked questions for easy reference.</li>
							<li>Feedback mechanism (e.g., thumbs up/down) to improve accuracy and user satisfaction.</li>
							<li>Auto-completion for metric names to enhance precision. </li>
							<li>Minimized hallucinations through referencing user intent examples.</li>
						</ul>
					</div>
				</div>
				<div class="case-study--full-container" style="margin-bottom: 3rem;">
					<figure>
						<video autoplay muted loop webkit-playsinline playsinline preload="auto" controls="true" style="border-radius: 2rem; width: 100%;" src="../img/work-explorer--gen-ai.mp4#t=0.5">
							<source src="../img/work-explorer--gen-ai.mp4#t=0.5" type="video/mp4">
						</video> 
					</figure>
				</div>
				<div class="case-study--full-container" style="margin-bottom: 3rem;">
					<figure>
						<img src="../img/work-explorer--gen-ai.png" class="lazyload">
						<figcaption>The various different states of the AI input field</figcaption>
					</figure>
				</div>
				<div class="case-study--text-container">
					<div>
						<div style="color: #555;; font-weight: bold; margin-bottom: 0.5rem;">Generative AI</div>
						<h4 style="margin-bottom: 1rem;">History checkpoints</h4>
						<p>The AI retains context from previous requests, influencing future responses. We also provide users with checkpoints, allowing them to easily return to previous states as needed.</p>
					</div>
				</div>
				<div class="case-study--large-container" style="margin-bottom: 3rem;">
					<figure>
						<img src="../img/work-explorer--history1.png" class="lazyload">
					</figure>
				</div>
				<div class="case-study--text-container">
					<div>
						<div style="color: #555;; font-weight: bold; margin-bottom: 0.5rem;">Generative AI</div>
						<h4 style="margin-bottom: 1rem;">Autocomplete</h4>
						<p>Giving users the ability to autocomplete the metric name helps a lot with enhancing precision.</p>
					</div>
				</div>
				<div class="case-study--large-container" style="margin-bottom: 3rem;">
					<figure>
						<img src="../img/work-explorer--autocomplete.png" class="lazyload">
					</figure>
				</div>
				<div class="case-study--text-container">
					<div>
						<div style="color: #555;; font-weight: bold; margin-bottom: 0.5rem;">Generative AI</div>
						<h4 style="margin-bottom: 1rem;">Intent</h4>
						<p>To make the AI work, we need to assign a list of intent and examples to guide the AI</p>
						<div class="table" style="margin-bottom: 3rem;"> 
							<div class="table-header">
								<p style="font-weight: bold">Intention</p>
								<p style="font-weight: bold">Example</p>
							</div>

							<div class="table-row">
								<div><p>Comparison by Time Period</p></div>
								<div><p>What are the website page views this month vs. last month</p></div>
							</div>

							<div class="table-row">
								<div><p>Comparison, Segment vs. Segment</p></div>
								<div><p>Compare users from organic search vs. direct search</p></div>
							</div>

							<div class="table-row">
								<div><p>Comparison, Metric vs. Metric</p></div>
								<div><p>Compare Ad Spend vs Advertising Costs</p></div>
							</div>

							<div class="table-row">
								<div><p>Forecast</p></div>
								<div><p>What do the website pageviews look like in the next 6 months?</p></div>
							</div>
							
							<div class="table-row">
								<div><p>Trend</p></div>
								<div><p>Are pageviews up or down the last 30 days?</p></div>
							</div>
							<div class="table-row">
								<div><p>Value</p></div>
								<div><p>What day of the week does the website get the most visits?</p></div>
							</div>
							<div class="table-row">
								<div><p>Math</p></div>
								<div><p>What is the website's total users count for last year?</p></div>
							</div>
							<div class="table-row">
								<div><p>Breakdown</p></div>
								<div><p>Show website users by organic search</p></div>
							</div>
							<div class="table-row">
								<div><p>Ranking</p></div>
								<div><p>Show me the 10 most viewed web pages last month</p></div>
							</div>
							<div class="table-row">
								<div><p>Metric by chart type</p></div>
								<div><p>Show it in a table</p></div>
							</div>
							<div class="table-row">
								<div><p>Out of scope, gibberish, impossible</p></div>
								<div><p>How old is Elon Musk?, Show me revenue by revenue, "Jiwnnfnreube"</p></div>
							</div>
							<div class="table-row">
								<div><p>Reset</p></div>
								<div><p>Let's start over</p></div>
							</div>
							
							<div class="table-row">
								<div><p>Overview</p></div>
								<div><p>How are sign ups doing?</p></div>
							</div>
							<div class="table-row">
								<div><p>Correlation/Relation</p></div>
								<div><p>What caused our sign ups to spike this week?</p></div>
							</div>
							<div class="table-row">
								<div><p>Expected range</p></div>
								<div><p>How is my revenue expected to behave? Is my profit behaving normally?</p></div>
							</div>
							<div class="table-row">
								<div><p>Composite intention</p></div>
								<div><p>Compare my cost and revenue, broken down by X</p></div>
							</div>
							
							<div class="table-row">
								<div style="border-bottom: 0"><p>Clarification</p></div>
								<div style="border-bottom: 0"><p>AI Response: Which metric specifically did you want to explore</p></div>
							</div>
						</div>

						<div style="color: #555;; font-weight: bold; margin-bottom: 0.5rem;">Generative AI</div>
						<h4 style="margin-bottom: 1rem;">Out of scope</h4>
						<p>Users requests are limitless, but our system has limiations. So we needed to account for intents that are technically out of scope of this current version of generative AI capabilities.</p>
						<div class="table" style=""> 
							<div class="table-header">
								<p style="font-weight: bold">Intention</p>
								<p style="font-weight: bold">Example</p>
							</div>

							<div class="table-row">
								<div><p>Asset search</p></div>
								<div><p>Show me the "marketing dashboard"</p></div>
							</div>

							<div class="table-row">
								<div><p>Catalog-level Insight</p></div>
								<div><p>Are there any important trends from over the weekend?</p></div>
								</div>

							<div class="table-row">
								<div><p>General search</p></div>
								<div><p>How many page views does Forbes.com get everyday?</p></div>
							</div>

						</div>
					</div>
				</div>
				<div class="case-study--background">
					<h2>Key business and product outcomes</h2>
					<div class="case-study--background-info-container">
						<div>
							<ul style="margin-top: 1rem; list-style: none; margin-left: 0">
								<li>30% increase in customers inviting view-only users, enabling more flexible metric exploration for their end/business users.</li>
								<li>12% growth in product sign-ups following the launch of the generative AI feature, driven by heightened interest.</li>
								<li>Increased customer requests for additional features to expand Explorer capabilities.</li>
							</ul>
						</div>
					</div>
				</div>

				<div style="height: 3px; width: 300px; background: #555; position: relative; margin: 5rem auto;"></div>
			</section>
			<PorjectsFooter />
			<Footer />
		</div>
	</main>
</Layout>

<style>
	.grid-container {
		container-type: inline-size;
		container-name: grid-container;
		display: grid; grid-template-columns: 1fr 1fr 1fr; column-gap:2rem;
	}

	@container (max-width: 1080px) {
		.grid-container {
			grid-template-columns: auto;
		}
	}
	.quote-container {
		display: grid; 
		/* grid-template-columns: 1fr 1fr;  */
		grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
		width: 1000px; 
		margin: auto; 
		max-width: fit-content;
		gap: 4rem 1.5rem;
		padding: 2rem;
	}
	.scrollsnap {
		position: relative;
		width: 100%;
		height: 100%;
		overflow-x: auto;
		white-space: nowrap;
		display: flex;
		scroll-snap-type: x mandatory;
		-webkit-overflow-scrolling: touch;
		gap: 2rem;
		overflow-x: scroll;
		overflow-y: hidden;
		scroll-snap-type: x mandatory;
		.item-container {
			margin: 0 auto;
			display: grid;
			grid-gap: 20px;
			grid-auto-flow: column;
			width: -moz-fit-content;
			width: fit-content;
			padding: 0 5vw;
			
			list-style-type: none;
		}
		figure {
			display: flex;
			width: min(max(75.5vw - 0px,280px),1580px);
			scroll-snap-align: center;
    		list-style-type: none;
			max-width: none;
		}
	}

	@media only screen and (max-width: 992px) { 
		.scrollsnap { .item-container { padding: 0 calc(5vw - 2rem); } }
	}

	
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.header-appear {
		opacity: 0;
		animation: header-animation linear forwards;
		animation-duration: 2s;
		animation-delay: 1s;
	}

	@keyframes header-animation {
		from {
			opacity: 0;
			transform: translateY(-10px)
		}

		to {
			opacity: 1;
			transform: translateY(0px)
		}
	}

	.subheader-appear {
		opacity: 0;
		animation: subheader-animation linear forwards;
		animation-duration: 2s;
		animation-delay: 1.5s;
	}

	@keyframes subheader-animation {
		from {
			opacity: 0;
			transform: translateY(-10px)
		}

		to {
			opacity: 1;
			transform: translateY(0px)
		}
	}
</style>
