---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import PorjectsFooter from '../components/ProjectsFooter.astro';

import { Image } from 'astro:assets';
import ExplorerHero from '../assets/work-explorer--cover-2.png';
import DimensionsHero from '../assets/work-dimensions-2--cover.png';
import PmAssistHero from '../assets/work-pm-assistant--cover.png';
import GlobalSearchHero from '../assets/work-global-search--cover.png';
import Homepage2024Hero from '../assets/klipfolio-homepage-2024-cover.png';
import Homepage2023Hero from '../assets/klipfolio-homepage-2023-cover.png';
---

<Layout title="Ashraf Khattab Portfolio">
	
	<main id="case-study">
		<Nav />
		<div style="position:relative; ">
        <section class="case-study--header">
            <div style="max-width: 800px; margin: 0 auto 3rem; text-align: center;">
                <h1 style="margin-bottom: 2rem;">Global Search</h1>
                <p>A search mechanism within PowerMetrics that helps users locate various assets and settings/pages.</p>
            </div>
			<div class="case-study--full-container" style="margin-bottom: 5rem;">
                <figure class="work-cover" transition:name="global-search-hero">
                    <Image src={GlobalSearchHero} alt="PmAssistHero Explorer" style="border-radius: 2rem;"  />
                </figure>
            </div>
           
        </section>
        <section class="case-study--body" style="">
            <div class="case-study--background">
                <h2>Project Info</h2>
                <div class="case-study--background-info-container">
                    <div class="case-study--background-info">
                        <div>
                            <h3 style="font-weight: bold; margin-bottom: 16px; color: #999">Name</h3>
                            <p>Global Search</p>
                        </div>
                        <div>
                            <h3 style="font-weight: bold; margin-bottom: 16px; color: #999">Role</h3>
                            <p>Project Lead</p>
								<p>UX/UI Designer</p>
                        </div>
                        <div>
                            <h3 style="font-weight: bold; margin-bottom: 16px; color: #999">Year</h3>
                            <p>2023</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="case-study--background">
                <h2>Background</h2>
                <div class="case-study--background-info-container">
                    <div>
                        <p>Users are requesting the ability to search for assets regardless of where they are in the app. More specifically a hub that hosts all their assets from data feeds, metrics, to dashboards. Additionally it can serve as a way to navigate to other pages of the app a lot easier.</p>
                    </div>
                </div>
            </div>
            <div class="case-study--background">
                <h2>Requirements</h2>
                <div class="case-study--background-info-container">
                    <div>
                        <p>To build a useful simple yet powerful global search feature it should include:</p>
                        <ul style="margin-top: 1rem; list-style: none; margin-left: 0">
                            <li>The ability to search all assets types.</li>
                            <li>Extensible design for future additions suchs as service tokens and quick actions.</li>
                            <li>Ability to preview the results</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="case-study--full-container" style="margin-bottom: 3rem;">
                <figure class="content video-container">
                    <video class="explorer-video" autoplay muted loop playsinline style="">
                        <source src="../img/work-global-search--video.mp4" type="video/mp4">
                    </video> 
                </figure> 
            </div> 

            
            <div style="height: 3px; width: 300px; background: #555; position: relative; margin: 5rem auto;"></div>

            <div class="case-study--text-container">
                <h2 style="margin-bottom: 1rem; line-height: 150%;">Various state</h2>
                <p>Showing the various states included in the global search mechanism suchs as the zero state, the no results found state, and the searching state.</p>
            </div>

            <div class="case-study--full-container" style="margin-bottom: 3rem;">
                <figure>
                    <img src="../img/work-global-search--zero-state.png" class="lazyload">
                </figure>
            </div>
            <div class="case-study--full-container" style="margin-bottom: 3rem;">
                <figure>
                    <img src="../img/work-global-search--no-results.png" class="lazyload">
                </figure>
            </div>
            
            <div class="case-study--full-container" style="margin-bottom: 5rem; text-align: center">
                <figure class="content video-container" style="padding: 0;">
                    <video class="explorer-video" autoplay muted loop playsinline style="width: auto;">
                        <source src="../img/work-global-search--searching.mp4" type="video/mp4">
                    </video> 
                </figure>
            </div>

            <div style="height: 3px; width: 300px; background: #555; position: relative; margin: 5rem auto;"></div>

            <div class="case-study--text-container">
                <h2 style="margin-bottom: 1rem; line-height: 150%;">Search results</h2>
                <p>The main search result section consists of the top 5 results from each category.</p>
            </div>
        

            <div class="case-study--full-container" style="margin-bottom: 3rem;">
                <figure>
                    <img src="../img/work-global-search--search-state.png" class="lazyload">
                </figure>
            </div>

            <div style="height: 3px; width: 300px; background: #555; position: relative; margin: 5rem auto;"></div>

            <div class="case-study--text-container">
                <h2 style="margin-bottom: 1rem; line-height: 150%;">Filter on a category</h2>
                <p>You have the flexibility to show or hide any category from appearing in search results, making it easier to customize your experience and find what you need.</p>
            </div>

            <div class="case-study--full-container" style="margin-bottom: 3rem;">
                <figure>
                    <img src="../img/work-global-search--categories.png" class="lazyload">
                </figure>
            </div>

            <div style="height: 3px; width: 300px; background: #555; position: relative; margin: 5rem auto;"></div>

            <div class="case-study--text-container">
                <h2 style="margin-bottom: 1rem; line-height: 150%;">Specific result preview</h2>
                <p>On hover (over 2 seconds), a preview of a specific result will appear to provide additional information about that asset selected.</p>
            </div>


            <div class="case-study--full-container" style="margin-bottom: 3rem;">
                <figure>
                    <img src="../img/work-global-search--result-preview.png" class="lazyload">
                </figure>
            </div>

            
            <div style="height: 3px; width: 300px; background: #555; position: relative; margin: 5rem auto;"></div>
            <div class="case-study--background">
                <h2>Key business outcomes</h2>
                <div class="case-study--background-info-container">
                    <div>
                        <ul style="margin-top: 1rem; list-style: none; margin-left: 0">
                            <li>60% of all daily active users use the search functionality.</li>
                            <li>24% increase in metric pages views</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div style="height: 3px; width: 300px; background: #555; position: relative; margin: 5rem auto;"></div>
            
            
                
           
        </section>
        <PorjectsFooter />
        <Footer />
    </div>
    
	</main>
</Layout>

<style>
	main {
		background-color: #0e0e0e;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.header-appear {
		opacity: 0;
		animation: header-animation linear forwards;
		animation-duration: 2s;
		animation-delay: 1s;
	}

	@keyframes header-animation {
		from {
			opacity: 0;
			transform: translateY(-10px)
		}

		to {
			opacity: 1;
			transform: translateY(0px)
		}
	}

	.subheader-appear {
		opacity: 0;
		animation: subheader-animation linear forwards;
		animation-duration: 2s;
		animation-delay: 1.5s;
	}

	@keyframes subheader-animation {
		from {
			opacity: 0;
			transform: translateY(-10px)
		}

		to {
			opacity: 1;
			transform: translateY(0px)
		}
	}
</style>