---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import PorjectsFooter from '../components/ProjectsFooter.astro';

import { Image } from 'astro:assets';
import ExplorerHero from '../assets/work-explorer--cover-2.png';
import DimensionsHero from '../assets/work-dimensions-2--cover.png';
import PmAssistHero from '../assets/work-pm-assistant--cover.png';
import GlobalSearchHero from '../assets/work-global-search--cover.png';
import Homepage2024Hero from '../assets/klipfolio-homepage-2024-cover.png';
import Homepage2023Hero from '../assets/klipfolio-homepage-2023-cover.png';
---

<Layout title="Ashraf Khattab Portfolio | Global Search">
	
	<main id="case-study">
		<Nav />
		<div style="position:relative; ">
        <section class="case-study--header">
            <div style="max-width: 800px; margin: 0 auto 3rem; text-align: center;">
                <h1 style="margin-bottom: 2rem;" transition:name="global-search-title">Global Search</h1>
                <p>A search mechanism within PowerMetrics that helps users locate various assets and settings/pages.</p>
            </div>
			<div class="case-study--full-container" style="margin-bottom: 5rem;">
                <figure class="work-cover" transition:name="global-search-hero">
                    <Image src={GlobalSearchHero} alt="PmAssistHero Explorer" />
                </figure>
            </div>
            <div style="display: block;position: fixed;width: 100%;bottom: 0;background: linear-gradient(0deg, #f1f1f1, transparent);height: 100px;z-index: 1;"></div>
           
        </section>
        <section class="case-study--body" style="">
            <div class="case-study--background">
                <h2>Project Info</h2>
                <div class="case-study--background-info-container">
                    <div class="case-study--background-info">
                        <div>
                            <h3 style="font-weight: bold; margin-bottom: 16px; color: #999">Name</h3>
                            <p>Global Search</p>
                        </div>
                        <div>
                            <h3 style="font-weight: bold; margin-bottom: 16px; color: #999">Role</h3>
                            <p>Project Lead</p>
								<p>UX/UI Designer</p>
                        </div>
                        <div>
                            <h3 style="font-weight: bold; margin-bottom: 16px; color: #999">Year</h3>
                            <p>2023</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="case-study--background">
                <h2>The problem:</h2>
                <div class="case-study--background-info-container">
                    <div>
                        <p>Navigating PowerMetrics efficiently was a challenge for users, especially as their accounts grew more complex with multiple assets such as Account Tokens, Data Feeds, Metrics, and Dashboards. Key issues included:</p>
                        <ul style="margin-top: 1rem; ">
                            <li>Discoverability: Important sections of the app were often hidden or buried under menus, leading to frustration and time loss.</li>
                            <li>Inefficiency: Users had to navigate multiple clicks or recall exact locations to access or manage their assets.</li>
                            <li> Lack of Contextual Actions: Performing specific actions often required users to navigate away from their current location, disrupting their workflow.</li>
                           
                        </ul>
                        <p>These challenges hampered user productivity, reduced satisfaction, and created barriers for new users trying to familiarize themselves with the app’s capabilities.</p>
                    </div>
                </div>
            </div>
            <div class="case-study--background">
                <h2>Proposed Solution:</h2>
                <div class="case-study--background-info-container">
                    
                    <div>
                        <p>To address these challenges, we introduced Global Search, a centralized, universal search hub that provides users with:</p>
                        <ul style="margin-top: 1rem; ">
                            <li>Instant Search Activation: Allowing users to launch search from anywhere in the app using a single keystroke or click.</li>
                            <li>Comprehensive Search Results: A unified view of all PowerMetrics assets, including Account Profiles, Data Feeds, Metrics, and Dashboards, with filters and categories for ease of navigation.</li>
                            <li>Quick Actions: Context-sensitive shortcuts that enable users to perform actions without leaving their current location. For example, in the Metric Library, users can directly create, edit, or delete metrics.</li>
                            <li>Guided Discovery: Highlighting important but less visible sections of the app, acting as a wayfinding tool for users to uncover underutilized features.</li>
                        </ul>
                        <p>This solution would not only streamline navigation but also improve productivity by aligning with user workflows and providing actionable insights.</p>
                    </div>
                </div>
            </div>
           

            <div class="case-study--full-container" style="margin-bottom: 3rem;">
                <figure class="content video-container">
                    <video class="explorer-video" webkit-playsinline autoplay muted loop playsinline style="" src="../img/work-global-search--video.mp4#t=0.5">
                        <source src="../img/work-global-search--video.mp4#t=0.5" type="video/mp4">
                    </video> 
                </figure> 
            </div> 

            <div class="case-study--text-container">
                <h2 style="margin-bottom: 1rem; line-height: 150%;">Key Features:</h2>
               
                    <div>
                        <p>To address these challenges, we introduced Global Search, a centralized, universal search hub that provides users with:</p>
                        <p style="font-weight: bold;">Universal Search Hub:</p>
                        <ul style="margin-top: 1rem; ">
                            <li>A centralized search bar accessible from anywhere in the app.</li>
                            <li>Displays relevant results categorized by asset type (e.g., Dashboards, Metrics, Data Feeds).</li>
                        </ul>
                            
                        <p style="font-weight: bold;">Quick Actions:</p>
                        <ul style="margin-top: 1rem;  ">
                            <li>Actionable shortcuts based on the user’s context, e.g., editing a metric, adding a new dashboard, or updating a data feed directly from the search results.</li>
                            <li>Adaptive options that change dynamically based on the section of the app the user is in.</li>
                        </ul>
                        <p style="font-weight: bold;">Discoverability Enhancement:</p>
                        <ul style="margin-top: 1rem;  ">
                            <li>Highlights hidden or underutilized important sections, such as account settings, ensuring users are aware of all available features.</li>
                        </ul>
                        <p style="font-weight: bold;">Smart Filters and Navigation:</p>
                        <ul style="margin-top: 1rem;  ">
                            <li>Allows users to refine search results by asset type, owner, or dimension.</li>
                            <li>Enables quick jumps to specific assets or sections with minimal clicks.</li>
                            
                        </ul>
                        <p style="font-weight: bold;">Advanced search:</p>
                        <ul style="margin-top: 1rem; ">
                            <li>Supports advanced search features, including the use of modifiers (e.g., type, dimension, owner) and logical operators such as OR/AND, allowing users to filter results with greater precision.</li>
                        </ul>
                        
                        <p style="font-weight: bold;">Keyboard-First Interaction:</p>
                        <ul style="margin-top: 1rem; ">
                            <li>Supports keyboard shortcuts for opening the search, navigating results, and executing Quick Actions, catering to power users.</li>
                        </ul>
                        <p style="font-weight: bold;">Scalable Architecture:</p>
                        <ul style="margin-top: 1rem; ">
                            <li>Designed to accommodate future additions like user-specific recommendations or AI-driven insights into commonly searched terms and actions.</li>
                        </ul>
                        <p>This solution would not only streamline navigation but also improve productivity by aligning with user workflows and providing actionable insights.</p>
                    </div>
               
            </div>

            
            <div style="height: 3px; width: 300px; background: #ddd; position: relative; margin: 5rem auto;"></div>

            <div class="case-study--text-container">
                <h2 style="margin-bottom: 1rem; line-height: 150%;">Zero state</h2>
                <p>The zero state highlights Quick Actions relevant to the user’s current section and serves as a navigation hub to other key areas of the app.</p>
            </div>

            <div class="case-study--full-container scrollsnap-container" style="margin-bottom: 3rem; position: relative;">
                <div class="scrollsnap">
                    <div class="item-container">
                        <figure><img src="../img/work-global-search--zero-state.webp" class="lazyload"></figure>
                        <figure><img src="../img/work-global-search--zero-state-2.webp" class="lazyload"></figure>
                    </div>
                </div>
            </div>

           

            <div style="height: 3px; width: 300px; background: #ddd; position: relative; margin: 5rem auto;"></div>

            <div class="case-study--text-container">
                <h2 style="margin-bottom: 1rem; line-height: 150%;">Search results</h2>
                <p>The main search result section consists of the top 5 results from each category.</p>
            </div>
        

            <div class="case-study--full-container" style="margin-bottom: 3rem;">
                <figure>
                    <img src="../img/work-global-search--search-state.webp" class="lazyload">
                </figure>
            </div>

            <div style="height: 3px; width: 300px; background: #ddd; position: relative; margin: 5rem auto;"></div>

           

            <div class="case-study--text-container">
                <h2 style="margin-bottom: 1rem; line-height: 150%;">Specific result preview</h2>
                <p>On hover (over 2 seconds), a preview of a specific result will appear to provide additional information about that asset selected.</p>
            </div>


            <div class="case-study--full-container" style="margin-bottom: 3rem;">
                <figure>
                    <img src="../img/work-global-search--result-preview.webp" class="lazyload">
                </figure>
            </div>

            <div class="case-study--text-container">
                <h2 style="margin-bottom: 1rem; line-height: 150%;">Advanced Searching with Modifiers and Operators</h2>
                <p>Empower users with precise control over their searches using special modifiers like Asset Type (Type) and Dimensions. Enhance search flexibility further by enabling the use of logical operators such as AND/OR to combine and refine search criteria.</p>
            </div>

            <div class="case-study--full-container scrollsnap-container" style="margin-bottom: 3rem; position: relative;">
                <div class="scrollsnap">
                    <div class="item-container">
                        <figure><img src="../img/work-global-search--modifier-1.webp" class="lazyload"></figure>
                        <figure><img src="../img/work-global-search--modifier-2.webp" class="lazyload"></figure>
                        <figure><img src="../img/work-global-search--modifier-3.webp" class="lazyload"></figure>
                    </div>
                </div>
            </div>

            <div class="case-study--text-container">
                <h2 style="margin-bottom: 1rem; line-height: 150%;">Filter on a category</h2>
                <p>You have the flexibility to show or hide any category from appearing in search results, making it easier to customize your experience and find what you need.</p>
            </div>

            <div class="case-study--full-container" style="margin-bottom: 3rem;">
                <figure>
                    <img src="../img/work-global-search--categories.webp" class="lazyload">
                </figure>
            </div>

            <div style="height: 3px; width: 300px; background: #ddd; position: relative; margin: 5rem auto;"></div>

            <div class="case-study--text-container">
                <h2 style="margin-bottom: 1rem; line-height: 150%;">Various States</h2>
                <p>Showing the various states included in the global search mechanism suchs as the no results found state and syncing assets state.</p>
            </div>

           
            <div class="case-study--full-container" style="margin-bottom: 3rem;">
                <figure>
                    <img src="../img/work-global-search--no-results.webp" class="lazyload">
                </figure>
            </div>
           
            <div class="case-study--full-container" style="margin-bottom: 3rem;">
                <figure>
                    <img src="../img/work-global-search--syncing.webp" class="lazyload">
                </figure>
            </div>

            
            <div style="height: 3px; width: 300px; background: #ddd; position: relative; margin: 5rem auto;"></div>
            <div class="case-study--background">
                <h2>Key business outcomes</h2>
                <div class="case-study--background-info-container">
                    <div>
                        <ul style="margin-top: 1rem; list-style: none; margin-left: 0">
                            <li>60% of all daily active users use the search functionality.</li>
                            <li>24% increase in metric pages views</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div style="height: 3px; width: 300px; background: #ddd; position: relative; margin: 5rem auto;"></div>
            
            
                
           
        </section>
        <PorjectsFooter />
        <Footer />
    </div>
    
	</main>
</Layout>

<style>
	main {
		background-color: #0e0e0e;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.header-appear {
		opacity: 0;
		animation: header-animation linear forwards;
		animation-duration: 2s;
		animation-delay: 1s;
	}

	@keyframes header-animation {
		from {
			opacity: 0;
			transform: translateY(-10px)
		}

		to {
			opacity: 1;
			transform: translateY(0px)
		}
	}

	.subheader-appear {
		opacity: 0;
		animation: subheader-animation linear forwards;
		animation-duration: 1.25s;
		animation-delay: 0.5s;
	}

	@keyframes subheader-animation {
		from {
			opacity: 0;
			transform: translateY(-10px)
		}

		to {
			opacity: 1;
			transform: translateY(0px)
		}
	}
</style>