---
import Layout from '../layouts/Layout.astro';
import PageHeader from '../components/PageHeader.astro';
import PageHero from '../components/PageHero.astro';
import Footer from '../components/Footer.astro';

const anim = {
	old: {
	  name: 'bump',
	  duration: '1.5s',
	  easing: 'ease-in',
	  direction: 'reverse',
	},
	new: {
	  name: 'bump',
	  duration: '1.5s',
	  easing: 'ease-in-out',
	  
	},
  };
  
  const customTransition = {
	forwards: anim,
	backwards: anim,
  };

---

<Layout title="Welcome to Astro.">
	<main>
		<div style="position:relative; overflow-x: clip">
			<PageHeader />
	
			<div style="padding: 15rem 0 0; background: linear-gradient(0deg, #0e0e0e 0%, #0e0e0e 90%, transparent 100%); position: relative; z-index: 20;opacity: 1;">
				<section style="width: 1800px; padding: 10rem 0; align-items: center;justify-content: center; display: flex; flex-direction: column; margin: auto; position: relative;">
					<div style="position: absolute; top: 0px; left: 0" id="pattern-move-1"><img src="../img/pattern-top.svg"></div>
					<div style="position: absolute; bottom: -500px; right: 0" id="pattern-move-2"><img src="../img/pattern-bottom.svg"></div>
					<div style="width: 780px; margin: 0; margin-block-end: 3rem;" >
						<p style="margin-block-end: 1rem;line-height: 1.35; font-size: 48px; font-weight: 600; text-align: left; margin-bottom: 3rem;">I have over a decade of experience in design, spanning graphic, web, and product design. Each area presents unique creative challenges.</p>
						<p style="margin-block-end: 1rem;line-height: 1.35; font-size: 48px; font-weight: 600; text-align: left;">On any given day, I’m juggling a few different roles:</p>
					</div>
					<div style="width: 780px; display: grid; grid-template-columns: 1fr; gap: 3rem; margin-block-end: 2rem;">
						<div style="width: auto; text-align: left;" >
							<p style="margin-block-end: 1rem;line-height: 1.5; font-size: 24px"><span style="font-weight: bold; color: #FF5558;">Product Designer:</span> I create tools and experiences that empower users to connect with their data, uncover insights, and make informed decisions. I love finding the sweet spot between aesthetics and functionality.</p>
						</div>
						<div style="width: auto; text-align: left;" >
							<p style="line-height: 1.5; font-size: 24px"><span style="font-weight: bold; color: #FF5558;">Front-end developer:</span> I’m always looking for chances to bridge the gap between design and code, ensuring that what’s envisioned is what’s delivered.</p>
						</div>
						<div style="width: auto; text-align: left;" >
							<p style="margin-block-end: 1rem;line-height: 1.5; font-size: 24px"><span style="font-weight: bold; color: #FF5558;">Mentor:</span> Whether it's advising startups or mentoring junior designers inside and outside of Klipfolio, I’m passionate about helping others refine their skills and find their own design voice.</p>
						</div>
						<div style="width: auto; text-align: left;" >
							<p style="line-height: 1.5; font-size: 24px"><span style="font-weight: bold; color: #FF5558;">Leader:</span> As the head of design at Klipfolio, I guide a diverse team of designers, researchers, writers, and developers. Together, we shape our product vision and roadmap, making sure we’re always moving forward—preferably with a coffee in hand!</p>
						</div>
					</div>
				</section>
			</div>
			<div style="padding: 15rem 0 0; background: linear-gradient(0deg, #0e0e0e 0%, #0e0e0e 90%, transparent 100%); position: relative; z-index: 20;opacity: 1;">
				<section style="position: relative; z-index: 20; align-items: center;justify-content: center; margin-bottom: 5rem;">
					<div style="min-width: 1020px; max-width: 1080px; margin: auto;text-align: center;; margin-block-end: 4rem;">
						<h2 style="font-size: 64px; font-weight: bold; margin-block-end: 1rem; ">Case studies</h2>
						<p style="color: #999;">Here is some of my selected work that I've done recently</p>
					</div>
					<div style="min-width: 1020px; max-width: 1080px; margin: auto;">
						 <div class="work-cover-container">
							<a href="/explorer"> 
								<figure class="content video-container" transition:name="hero">
									<video class="explorer-video" muted autoplay loop style="width: 1200px; margin: auto ;border-radius: 1rem; overflow: hidden;" transition:name="media-player" transition:persist>
										<source src="../img/work-explorer--video.mp4">
									</video> 
								</figure>
							</a>
							<a href="explorer.html" class="work-title">Metric Explorer <span class="works-tag">UX</span><span class="works-tag">UI</span><span class="works-tag">AI</span></a>
						</div>
						<!-- <div class="work-cover-container" transition:name="ds">
							<a href="/design-system-revamp"> 
								<figure style="" class="work-cover">
									<img alt="ashraf" src="../img/work-design-system--cover.png" class="" />
								</figure>
							</a>
							<a href="/design-system-revamp" class="work-title">Design system: Dark mode (2024)<span class="works-tag">Design system</span><span class="works-tag">Dark mode</span></a>
						</div> -->
						<div class="work-cover-container">
							<a href="/dimensions-2"> 
								<figure style="" class="work-cover" transition:name="dimnesions-hero">
									<img alt="ashraf" src="../img/work-dimensions-2--cover.png" class="" loading="lazy">
								</figure>
							</a>
							<a href="/dimensions-2" class="work-title">Dimensions 2.0<span class="works-tag">Design system</span><span class="works-tag">Dark mode</span></a>
						</div>
						<div class="work-cover-container">
							<a href="/pm-assistant"> 
								<figure class="content video-container" style=" background-color: #FFEE9B" transition:name="hero2">
									<video class="pm-ai-video" muted autoplay loop style="width: 1200px; margin: auto ;border-radius: 1rem; overflow: hidden;" transition:name="pm-ai" transition:persist>
										<source src="../img/work-pm-ai--video.mp4">
									</video> 
								</figure>
							</a>
							<a href="/pm-assistant" class="work-title">PowerMetrics Assistant<span class="works-tag">Design system</span><span class="works-tag">Dark mode</span></a>
						</div>
						 <div class="work-cover-container">
							<a href="/global-search"> 
								<figure style="" class="work-cover">
									<img alt="ashraf" src="../img/work-global-search--cover.png" class=""  loading="lazy">
								</figure>
							</a>
							<a href="/global-search" class="work-title">Assets Global Search<span class="works-tag">Design system</span><span class="works-tag">Dark mode</span></a>
						</div>
					</div>
				</section>
				<section style="position: relative; z-index: 20; align-items: center;justify-content: center;">
					<div style="min-width: 1020px; max-width: 1080px; margin: auto;">
						<h2 style="font-size: 48px; font-weight: bold; margin-block-end: 1em;">Other work</h2>
						<div style="display: grid; grid-template-columns: 1fr 1fr; gap: 1rem;">
							<div class="work-cover-container">
								<a href="/global-search"> 
									<figure class="work-cover" style="border-radius: 1rem;" >
										<img alt="ashraf" src="../img/klipfolio-homepage-2024-cover.png" loading="lazy">
									</figure>
								</a>
								<a href="/global-search" class="work-title">Klipfolio Homepage 2024<span class="works-tag">Web Design</span></a>
							</div>
							<div class="work-cover-container">
								<a href="/global-search"> 
									<figure class="work-cover" style="border-radius: 1rem;">
										<img alt="ashraf" src="../img/klipfolio-homepage-2023-cover.png" loading="lazy">
									</figure>
								</a>
								<a href="/global-search" class="work-title">Klipfolio Homepage 2023<span class="works-tag">Web Design</span></a>
							</div>
							
						
						
						</div>
					</div>
				</section>
			</div>

			<Footer />
	
			
		</div>
	</main>
</Layout>

<style>
    :root {
        --x: 0;
        --y: 0;
    }

	main {
		background-color: #0e0e0e;
	}

	@media (prefers-reduced-motion: no-preference) {
		@supports (animation-timeline: scroll()) {
			#pattern-move-1 {
				transform-origin: 50% 50%;
				animation: move-down forwards ease-in-out;
				animation-timeline: scroll(block nearest);
				animation-range: exit-crossing 0% exit-crossing 50%;
			}
			#pattern-move-2 {
				transform-origin: 50% 50%;
				animation: move-down forwards ease-in-out;
				animation-timeline: scroll(block nearest);
				animation-range: exit-crossing 0% exit-crossing 50%;
			}
			/* .subheader-appear {
				transform-origin: 50% 50%;
				animation: subheader-animation linear;
				animation-timeline: scroll(block nearest);
				animation-range: exit-crossing 0% exit-crossing 25%;
			} */
			.header-container {
				transform-origin: 50% 50%;
				animation: text-blur-progress forwards ease-in-out;
				animation-timeline: scroll(block nearest);
				animation-range: exit-crossing 0% exit-crossing 40%;
			}
		}
	}

	@keyframes move-down {
		0% {
			transform: translateY(00px);
		}
		100% {
			transform: translateY(-220px);
			
		}
	}
	
	/* work */
	.work-cover-container {
		margin-bottom: 10rem;

	}

	.work-cover {
		background-size: cover; margin-block-end: 1rem;border-radius: 1rem; border-radius: 2rem; overflow: hidden;
	}

	.work-img {
		animation: parallax ease-out;
		animation-timeline: view();
		animation-range: entry 25% cover 50%;
		grid-area: cover;
		border-radius: 2rem;
		width: 100%;
		max-width: 100%;
	}
	.work-title {
		display: flex;
		align-items: center;
		gap: 0.4rem;
		font-size: 2rem;
		font-weight: bold;
		margin-block-end: 2em;
	}

	.works-tag {
		background: #555;
		border-radius: 8px;
		padding: 0.5rem 1rem;
		font-size: 12px;
	}

	

	/* #progress {
		transform-origin: 50% 50%;
		animation: grow-progress forwards ease-in-out;
		animation-timeline: scroll(block nearest);
		animation-range: exit-crossing 0% exit-crossing 20%;
	} */

	@keyframes appear-progress {
		from {
			transform: translateY(100px);
			opacity: 0;
		}

		to {
			transform: translateY(0);
			opacity: 1;
		}
	}

	.appear {
		position: relative;
		top: 20px;
		margin: auto;
		transform-origin: 50% 50%;
		animation: appear-progress auto linear;
		animation-timeline: scroll(block nearest);
		animation-range: exit-crossing 0% exit-crossing 20%;
	}

	.work-img {
		animation: parallax ease-out;
		animation-timeline: view();
		animation-range: entry 25% cover 50%;
		grid-area: cover;
		border-radius: 2rem;
		width: 100%;
		max-width: 100%;
	}

</style>
