---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';

---

<Layout title="Ashraf Khattab Portfolio | Metric Explorer">
	
	<main id="case-study">
		<Nav />
		<div style="position:relative; ">
			<section class="case-study--header">
				<div style="width: 800px; margin: 0 auto 3rem; text-align: center;">
					<h1 style="margin-bottom: 2rem;" class="header-appear">Klipfolio Homepage (2023)</h1>
					<p class="subheader-appear">A powerful tool designed for advanced analysis, offering seamless AI integration to simplify complex tasks and enhance overall ease of use.</p>
				</div>
				<div class="case-study--full-container" style="margin-bottom: 5rem; text-align: center" transition:name="klipfolio-homepage-hero-2023">
					<figure class="work-cover" transition:name="klipfolio-homepage-hero-2023">
						<img alt="ashraf" src="../img/klipfolio-homepage-2023.jpg" style="border-radius: 2rem;" />
					</figure>
				</div>
			
			</section>
			<section class="case-study--body" style="">
				<div class="case-study--background">
					<h2>Project Info</h2>
					<div class="case-study--background-info-container">
						<div class="case-study--background-info">
							<div>
								<div style="color: #555;; font-weight: bold; margin-bottom: 0.5rem;">Name</div>
								<p>Metric Explorer</p>
							</div>
							<div>
								<div style="color: #555;; font-weight: bold; margin-bottom: 0.5rem;">Role</div>
								<p>Project lead</p>
								<p>Individual contributor</p>
							</div>
							<div>
								<div style="color: #555;; font-weight: bold; margin-bottom: 0.5rem;">Year</div>
								<p>2024</p>
							</div>
						</div>
					</div>
				</div>
			

				

				<div style="height: 3px; width: 300px; background: #555; position: relative; margin: 5rem auto;"></div>
			</section>
			<Footer />
		</div>
	</main>
</Layout>

<style>
	main {
		background-color: #1a1a1a;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.header-appear {
		opacity: 0;
		animation: header-animation linear forwards;
		animation-duration: 2s;
		animation-delay: 1s;
	}

	@keyframes header-animation {
		from {
			opacity: 0;
			transform: translateY(-10px)
		}

		to {
			opacity: 1;
			transform: translateY(0px)
		}
	}

	.subheader-appear {
		opacity: 0;
		animation: subheader-animation linear forwards;
		animation-duration: 2s;
		animation-delay: 1.5s;
	}

	@keyframes subheader-animation {
		from {
			opacity: 0;
			transform: translateY(-10px)
		}

		to {
			opacity: 1;
			transform: translateY(0px)
		}
	}
</style>
