---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';

import { Image } from 'astro:assets';
import ImgContextual from '../assets/work-pm-assistant--contextual-questions.png';
---

<Layout title="Ashraf Khattab Portfolio | Dimension 2.0">
	
	<main id="case-study">
		<Nav />
		<div style="position:relative; ">
        <section class="case-study--header">
            <div style="width: 800px; margin: 0 auto 3rem; display: grid; gap: 32px; text-align: center;">
                <h1 style="margin-bottom: 2rem;" class="header-appear">PowerMetrics Assistant</h1>
                <p class="subheader-appear">A contextual AI agent to help you through your PowerMetrics experience powered by our in-depth support documentations</p>
            </div>
			<div class="case-study--full-container" style="margin-bottom: 5rem; text-align: center" transition:name="hero2">
                <figure class="content video-container" style=" background-color: #FFEE9B">
                    <video class="pm-ai-video" muted autoplay loop style="width: 1200px; margin: auto ;border-radius: 1rem; overflow: hidden;" transition:name="pm-ai" transition:persist>
                        <source src="../img/work-pm-ai--video.mp4">
                    </video> 
                </figure>
            </div>
           
        </section>
        <section class="case-study--body" style="">
            <div class="case-study--background">
                <h2>Project Info</h2>
                <div class="case-study--background-info-container">
                    <div class="case-study--background-info">
                        <div>
                            <h3 style="font-weight: bold; margin-bottom: 16px; color: #999">Name</h3>
                            <p>PowerMetrics Assistant</p>
                        </div>
                        <div>
                            <h3 style="font-weight: bold; margin-bottom: 16px; color: #999">Role</h3>
                            <p>Project lead</p>
                            <p>Individual contributor</p>
                        </div>
                        <div>
                            <h3 style="font-weight: bold; margin-bottom: 16px; color: #999">Year</h3>
                            <p>2023</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="case-study--background">
                <h2>Background</h2>
                <div class="case-study--background-info-container">
                    <div>
                        <p>Users have not been utalizing our Support Website, with our support and success team getting more and more tickets answering questions that are otherwise available on the Support Website. </p>
                    </div>
                </div>
            </div>
            <div class="case-study--background">
                <h2>Opportunity</h2>
                <div class="case-study--background-info-container" style="row-gap: 2rem;">
                    <div>
                        <p>An AI agent that is uses our support website as a reference material to answer user questions</h4>
                    </div>
                </div>
            </div>
            <div class="case-study--background">
                <h2>Requirements</h2>
                <div class="case-study--background-info-container">
                    <div>
                        <p>To build a useful AI agent it must be able to do the following:</p>
                        <ul style="margin-top: 1rem; list-style: none; margin-left: 0">
                            <li>Less hellucination, use only the support website as referance material.</li>
                            <li>Ability to bookmark questions/answer for future reference.</li>
                            <li>Ability to dock the Agent for ease of use and allow for more space.</li>
                            <li>Provide relative questions to where the user is in the product.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div style="height: 3px; width: 300px; background: #555; position: relative; margin: 5rem auto;"></div>

            <div class="case-study--text-container">
                <h2 style="margin-bottom: 1rem; line-height: 150%;">Ask away</h2>
                <p>A simple chatbot UI to ask questions and get answers quickly.</p>
            </div>

			 <div class="case-study--large-container" style="margin-bottom: 3rem;">
                <figure>
						<img src="../img/work-pm-assistant--question-answer.png" style="width: 1200px; margin: 0rem auto 1rem; border-radius: 2rem; overflow: hidden;" loading="lazy">
                </figure>
            </div>
           
            <div style="height: 3px; width: 300px; background: #555; position: relative; margin: 5rem auto;"></div>

            <div class="case-study--text-container">
                <div>
                    <h2 style="margin-bottom: 1rem;">Contextual help</h2>
                    <p>Relative questions to where the user is in the product.</p>
                </div>
            </div>

			 <div class="case-study--large-container" style="margin-bottom: 3rem;">
                <figure>
                    <Image src={ImgContextual} alt="descriptive text" style="width: 1200px; margin: 0rem auto 1rem; border-radius: 2rem; overflow: hidden;" />
                </figure>
            </div>

            <div style="height: 3px; width: 300px; background: #555; position: relative; margin: 5rem auto;"></div>

            <div class="case-study--text-container">
                <div>
                    <h2 style="margin-bottom: 1rem;">Put it on the side</h2>
                    <p>Dock the Agent for ease of use and allow for more space.</p>
                </div>
            </div>

			 <div class="case-study--large-container" style="margin-bottom: 3rem;">
                <figure>
						<img src="../img/work-pm-assistant--sidebar.png" style="width: 1200px; margin: 0rem auto 1rem; border-radius: 2rem; overflow: hidden;" loading="lazy">
                </figure>
            </div>

            <div style="height: 3px; width: 300px; background: #555; position: relative; margin: 5rem auto;"></div>

            <div class="case-study--text-container">
                <div>
                    <h2 style="margin-bottom: 1rem;">Save it for later</h2>
                    <p>Bookmark your questions/answers for future reference.
                    </p>
                </div>
            </div>
			 <div class="case-study--large-container" style="margin-bottom: 3rem;">
                <figure>
						<img src="../img/work-pm-assistant--bookmark.png" style="width: 1200px; margin: 0rem auto 1rem; border-radius: 2rem; overflow: hidden;" loading="lazy">
                </figure>
            </div>

            <div style="height: 3px; width: 300px; background: #555; position: relative; margin: 5rem auto;"></div>

            <div class="case-study--background">
                <h2>Key business outcomes</h2>
                <div class="case-study--background-info-container">
                    <div>
                        <ul style="margin-top: 1rem; list-style: none; margin-left: 0">
                            <li>30% increase in customers inviting view-only users in order to be able to explore their metrics more freely.</li>
                            <li>Increased sign ups of the product by 12% since the release of the generative AI feature.</li>
                            <li>More features requests from customers in order to extend the Explorer capabilities</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div style="height: 3px; width: 300px; background: #555; position: relative; margin: 5rem auto;"></div>
            
           
        </section>
        <Footer />
	</main>
</Layout>
<style>
	main {
		background-color: #1a1a1a;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.header-appear {
		opacity: 0;
		animation: header-animation linear forwards;
		animation-duration: 2s;
		animation-delay: 1s;
	}

	@keyframes header-animation {
		from {
			opacity: 0;
			transform: translateY(-10px)
		}

		to {
			opacity: 1;
			transform: translateY(0px)
		}
	}

	.subheader-appear {
		opacity: 0;
		animation: subheader-animation linear forwards;
		animation-duration: 2s;
		animation-delay: 1.5s;
	}

	@keyframes subheader-animation {
		from {
			opacity: 0;
			transform: translateY(-10px)
		}

		to {
			opacity: 1;
			transform: translateY(0px)
		}
	}
</style>