
<nav>
	<a href="/" style="width: fit-content;">Ashraf Khattab</a>
	<div style="display: flex; gap: 1rem;">
		<a href="mailto:ashraf.gmk@gmail.com?subject=I%20am%20coming%20from%20your%20portfolio">Contact</a>
		<a href="../ashraf-khattab-resume-2024.pdf">Resume</a>
	</div>
</nav>
<style>
	nav {
		position: relative;
		margin: auto;
		max-width: 500px;
		padding: 1rem;
		display: grid;
		grid-template-columns: 1fr auto;
		background: #000;
		border-radius: 16px;
		box-shadow: 0px 32px 32px 0px rgba(0, 0, 0, 0.32), 0px 16px 16px 0px rgba(0, 0, 0, 0.16), 0px 8px 8px 0px rgba(0, 0, 0, 0.08);

		a {
			position: relative;
			transition: 0.15s opacity;
		}

		a:hover:after  {
			opacity: 1;
			transition: 0.15s opacity 0.15s;
		}

		a::after {
			opacity: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			content: "";
			width: 5px;
			height: 5px;
			background-color: white;
			text-align: center;
			margin: 5px auto 0;
			border-radius: 50%;
			position: absolute;
			left: 0;
			right: 0;
		}
	}
</style>
